force-app/main/default/flows/Applicant_Flow_V2_0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Assigns the choices for account selection</description>
        <name>AccountSelectionChoicesAssignment</name>
        <label>AccountSelectionChoicesAssignment</label>
        <locationX>331</locationX>
        <locationY>705</locationY>
        <assignmentItems>
            <assignToReference>AccuntSelectionChoices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccuntSelectionChoices</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Create New Application</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_the_account_listed_below_belongs_to_you</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Application_Count</name>
        <label>Increment Application Count</label>
        <locationX>236</locationX>
        <locationY>109</locationY>
        <assignmentItems>
            <assignToReference>ApplicationCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Application_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Applicant_Id</name>
        <label>Set Applicant Id</label>
        <locationX>1630</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>CreatedApplicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountApplicationRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Main_Applicant_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Decides whether the user selected the account or not</description>
        <name>AccountSelectionDecision</name>
        <label>AccountSelectionDecision</label>
        <locationX>662</locationX>
        <locationY>543</locationY>
        <defaultConnector>
            <targetReference>Get_Empty_Applications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Not Selected</defaultConnectorLabel>
        <rules>
            <name>AccountSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountSelectionButtonPicklist.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountRecord.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_Details</targetReference>
            </connector>
            <label>AccountSelected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the account as an associated application</description>
        <name>Application_Exist</name>
        <label>Application Exist</label>
        <locationX>1122</locationX>
        <locationY>1218</locationY>
        <defaultConnector>
            <targetReference>Get_Application_RecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Application  doesn&apos;t Exists</defaultConnectorLabel>
        <rules>
            <name>Application_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountApplicationRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Applicant_Id</targetReference>
            </connector>
            <label>Application Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Applications_Exists</name>
        <label>Applications Exists</label>
        <locationX>776</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Existing_Application_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No they don&apos;t exist</defaultConnectorLabel>
        <rules>
            <name>Yes_they_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedApplications</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Person_Information</targetReference>
            </connector>
            <label>Yes they exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Can_we_add_more_applications</name>
        <label>Can we add more applications</label>
        <locationX>597</locationX>
        <locationY>688</locationY>
        <defaultConnector>
            <targetReference>Person_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes we can</defaultConnectorLabel>
        <rules>
            <name>No_we_cant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApplicationCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cant_add_additional_applications</targetReference>
            </connector>
            <label>No we cant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Emergency_Contact_Should_Continue</name>
        <label>Emergency Contact Should Continue</label>
        <locationX>1635</locationX>
        <locationY>700</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Emergency_Contact_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmergencyContactContinuation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employment_Details</targetReference>
            </connector>
            <label>Emergency Contact Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Add_More_People</name>
        <label>Should Add More People</label>
        <locationX>714</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>Don&apos;t Add</defaultConnectorLabel>
        <rules>
            <name>Add_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_More_People</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_account_listed_below_belongs_to_you</targetReference>
            </connector>
            <label>Add More</label>
        </rules>
    </decisions>
    <description>Adding fault screen</description>
    <interviewLabel>Applicant Flow V2.0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Applicant Flow V2.0</label>
    <loops>
        <name>Existing_Application_Loop</name>
        <label>Existing Application Loop</label>
        <locationX>482</locationX>
        <locationY>108</locationY>
        <assignNextValueToReference>CurrentApplicationLoopVariable</assignNextValueToReference>
        <collectionReference>AssignedApplications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Application_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Can_we_add_more_applications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Application</name>
        <label>Create Account Application</label>
        <locationX>1580</locationX>
        <locationY>1041</locationY>
        <assignRecordIdToReference>CreatedApplicationId</assignRecordIdToReference>
        <connector>
            <targetReference>Main_Applicant_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ApplicationRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Applicant__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Record</name>
        <label>Get Application Record</label>
        <locationX>911</locationX>
        <locationY>1076</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Application_Exist</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Applicant__c</object>
        <outputReference>AccountApplicationRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Application_RecordType</name>
        <label>Get Application RecordType</label>
        <locationX>1128</locationX>
        <locationY>989</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Account_Application</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Empty_Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>ApplicationRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Empty_Applications</name>
        <label>Get Assigned Applications</label>
        <locationX>1131</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Applications_Exists</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Applicant__c</object>
        <outputReference>AssignedApplications</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAccountRecord</name>
        <label>GetAccountRecord</label>
        <locationX>218</locationX>
        <locationY>495</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountSelectionChoicesAssignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>extracts the account  id from the opportunity record</description>
        <name>GetOpportunityRecord</name>
        <label>GetOpportunityRecord</label>
        <locationX>113</locationX>
        <locationY>689</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccountRecord</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Add_More_Applicant_Details</name>
        <label>Add More Applicant Details</label>
        <locationX>1187</locationX>
        <locationY>402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Should_Add_More_People</targetReference>
        </connector>
        <fields>
            <name>indicator3</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>ApplicantFormStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddMoreApplicationDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(52, 152, 219); font-size: 14px;&quot;&gt;Do you want to add more people?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_More_People</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Make a decision</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cant_add_additional_applications</name>
        <label>Cant add additional applications</label>
        <locationX>309</locationX>
        <locationY>903</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>indicator2</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>GettingStartedStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NoExtraApplicationsText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(231, 76, 60);&quot;&gt;Sorry you cannot add any more applicant this opportunity because every opportunity can have up to three applicants linked.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Does_the_account_listed_below_belongs_to_you</name>
        <label>Does the account listed below belongs to you</label>
        <locationX>339</locationX>
        <locationY>376</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AccountSelectionDecision</targetReference>
        </connector>
        <fields>
            <name>indicator1</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>GettingStartedStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>personinfotext</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Person Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountSelectionButtonPicklist</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>AccuntSelectionChoices</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Please choose</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Please create a new application or select one of the existing applicants below:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>AccountRecord.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>AccuntSelectionChoices</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>1638</locationX>
        <locationY>857</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultmessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Main_Applicant_Details</name>
        <label>Main Applicant Details</label>
        <locationX>1849</locationX>
        <locationY>968</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>indicator5</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>ApplicantFormStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(52, 152, 219); font-size: 14px;&quot;&gt;Main Applicant Form&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>application1</name>
            <extensionName>c:JNSharedApplicationDetails</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>applicantId</name>
                <value>
                    <elementReference>CreatedApplicationId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>420</locationY>
        <connector>
            <targetReference>GetOpportunityRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Contact_Details</name>
        <label>Contact Details</label>
        <locationX>1256</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Emergency_Contacts</targetReference>
        </connector>
        <flowName>JNContactDetailsSubflow</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Emergency_Contacts</name>
        <label>Emergency Contacts</label>
        <locationX>1430</locationX>
        <locationY>601</locationY>
        <connector>
            <targetReference>Emergency_Contact_Should_Continue</targetReference>
        </connector>
        <flowName>JNEmergencyContactSubflow</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>EmergencyContactContinuation</assignToReference>
            <name>ShouldContinueEmergencyContact</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Employment_Details</name>
        <label>Employment Details</label>
        <locationX>1430</locationX>
        <locationY>841</locationY>
        <connector>
            <targetReference>JN_Affiliation</targetReference>
        </connector>
        <flowName>JNEmploymentDetailsSubflow</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>General_Details</name>
        <label>General Details</label>
        <locationX>933</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Id_Documents</targetReference>
        </connector>
        <flowName>JNGeneralDetails</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Id documents sub flow screen</description>
        <name>Id_Documents</name>
        <label>Id Documents</label>
        <locationX>1111</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Contact_Details</targetReference>
        </connector>
        <flowName>JNIdDocumentsSubflow</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>JN_Affiliation</name>
        <label>JN Affiliation</label>
        <locationX>1186</locationX>
        <locationY>841</locationY>
        <connector>
            <targetReference>Political_Affiliation</targetReference>
        </connector>
        <flowName>JN_Affiliation_Subflow</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Person_Information</name>
        <label>Person Information</label>
        <locationX>617</locationX>
        <locationY>915</locationY>
        <connector>
            <targetReference>General_Details</targetReference>
        </connector>
        <flowName>PersonInformationSubFlow</flowName>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <name>AccountId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Political_Affiliation</name>
        <label>Political Affiliation</label>
        <locationX>915</locationX>
        <locationY>841</locationY>
        <connector>
            <targetReference>Get_Application_Record</targetReference>
        </connector>
        <flowName>JNPolliticalAffiliationSubflow</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountApplicationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Applicant__c</objectType>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Account linked to the opportunity record.</description>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Choices available to the user to select a account, can either be the account name or No</description>
        <name>AccuntSelectionChoices</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddMorePeopleToggleChoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantFormStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Applicant Form</stringValue>
        </value>
    </variables>
    <variables>
        <name>ApplicationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ApplicationRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>AssignedApplications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Applicant__c</objectType>
    </variables>
    <variables>
        <name>CreatedApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentApplicationLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Applicant__c</objectType>
    </variables>
    <variables>
        <name>EmergencyContactContinuation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GettingStartedStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Getting Started</stringValue>
        </value>
    </variables>
    <variables>
        <description>Opportunity record id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
