force-app/main/default/flows/Applicant_Assets_and_Liability.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AddMoreAssignment</name>
        <label>AddMoreAssignment</label>
        <locationX>1584</locationX>
        <locationY>775</locationY>
        <assignmentItems>
            <assignToReference>AssetID_coll</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ADD NEW</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetName_coll</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ADD NEW</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssetListing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssetLiablity_Assignment</name>
        <label>AssetLiablity Assignment</label>
        <locationX>3917</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_or_Liability_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.FinServ__PrimaryOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryOwnerLookup.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.FinServ__JointOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JointOwnerLookup.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Monthly_Contribution_After_Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_Contribution_After_Loan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Type_of_Asset_Liability_Recording__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Asset_Liablitiy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Account_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Financial_Institution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Financial_Institution_mn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Type_of_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Asset_Credit_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_Credit_Limit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Asset_Credit_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_Credit_Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Percent_Average_Monthly_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercentAverageMonthlyUse.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Type_of_Card__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Card</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Minimum_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Minimum_Payment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Cash_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cash_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Overdraft_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Overdraft_Limit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Annual_Premium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Annual_Premium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Vehicle_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vehicle_Details_Year_Make_Model</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Lien_on_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lien_on_Asset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Percent_Applicant_Portion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercentApplicationPortion.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Total_Contributions_to_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Contribution_to_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Monthly_Payment_Prior__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_Payment_Prior_to_Loan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Property_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Property_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Treatment_of_Credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Treatment_of_Creditx</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Account_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Type_of_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Monthly_Savings_Investment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_Savings_Investment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Policy_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Policy_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Total_Market_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Market_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Loan_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Monthly_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_payment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Monthly_Contribution_After_Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_Contribution_After_Loan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Percent_Applicant_Portion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercentApplicationPortion.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeSelectedCheck</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Pension_Scheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pension_Scheme</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_or_Add</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssetLiablity_Assignment_add</name>
        <label>AssetLiablity Assignment for Add</label>
        <locationX>2033</locationX>
        <locationY>932</locationY>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_or_Liability_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.FinServ__PrimaryOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryOwnerLookup.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.FinServ__JointOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryOwnerLookup.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Monthly_Contribution_After_Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_Contribution_After_Loan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Type_of_Asset_Liability_Recording__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Asset_Liablitiy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Account_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Financial_Institution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Financial_Institution_mn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Type_of_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Asset_Credit_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_Credit_Limit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Asset_Credit_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_Credit_Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Percent_Average_Monthly_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercentAverageMonthlyUse.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Type_of_Card__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Card</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Minimum_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Minimum_Payment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Cash_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cash_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Overdraft_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Overdraft_Limit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Annual_Premium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Annual_Premium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Vehicle_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vehicle_Details_Year_Make_Model</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Lien_on_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Percent_Applicant_Portion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercentApplicationPortion.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Total_Contributions_to_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Contribution_to_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Monthly_Payment_Prior__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_Payment_Prior_to_Loan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Monthly_Contribution_After_Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_Contribution_After_loanx</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Property_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Property_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Treatment_of_Credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Treatment_of_Creditx</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Account_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Type_of_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Monthly_Savings_Investment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_Savings_Investment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Policy_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Policy_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Percent_Applicant_Portion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercentApplicationPortion.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Total_Market_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Market_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Loan_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Monthly_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_payment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>setTonull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssetLiablity_Assignment_add_0</name>
        <label>AssetLiablity Assignment for Add</label>
        <locationX>2293</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.FinServ__PrimaryOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.FinServ__PrimaryOwner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.FinServ__JointOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.FinServ__JointOwner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Monthly_Contribution_After_Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Monthly_Contribution_After_Loan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Type_of_Asset_Liability_Recording__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Type_of_Asset_Liability_Recording__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Account_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Account_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Financial_Institution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Financial_Institution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Type_of_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Type_of_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Asset_Credit_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Asset_Credit_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Asset_Credit_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Asset_Credit_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Percent_Average_Monthly_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Percent_Average_Monthly_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Type_of_Card__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Type_of_Card__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Minimum_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Minimum_Payment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Cash_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Cash_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Overdraft_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Overdraft_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Annual_Premium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Annual_Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Vehicle_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Vehicle_Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Lien_on_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Lien_on_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Lien_on_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Lien_on_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Total_Contributions_to_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Total_Contributions_to_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Monthly_Payment_Prior__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Monthly_Payment_Prior__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Monthly_Contribution_After_Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Monthly_Contribution_After_Loan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Property_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Property_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Treatment_of_Credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Treatment_of_Credit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Account_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Account_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Type_of_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Type_of_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Monthly_Savings_Investment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Monthly_Savings_Investment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Percent_Applicant_Portion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Percent_Applicant_Portion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Total_Market_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Total_Market_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Loan_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Loan_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Monthly_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Monthly_Payment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetLiabilityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssetBaseonID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assets_and_Liabilities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assetListAssignmentInlOOP</name>
        <label>assetListAssignmentInlOOP</label>
        <locationX>1046</locationX>
        <locationY>415</locationY>
        <assignmentItems>
            <assignToReference>AssetID_coll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PrimaryAssetCollection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetName_coll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PrimaryAssetCollection.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrimaryAssetLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign</name>
        <label>AssignJointAsset</label>
        <locationX>1386</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>AssetID_coll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PrimaryAssetCollection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetName_coll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PrimaryAssetCollection.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopJointOwnerShip</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignApplicantDetailsfromLoop</name>
        <label>AssignApplicantDetailsfromLoop</label>
        <locationX>692</locationX>
        <locationY>448</locationY>
        <assignmentItems>
            <assignToReference>Customercheck_details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicantDetails.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerCheck_ID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicantDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAllApplicant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAssetStage</name>
        <label>AssignAssetStage</label>
        <locationX>2329</locationX>
        <locationY>992</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assets_Liabilities_stages</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignRecordTypes</name>
        <label>AssignRecordTypes</label>
        <locationX>2421</locationX>
        <locationY>746</locationY>
        <assignmentItems>
            <assignToReference>ChosenRecordTypeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChosenRecordTypeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChosenRecordTypeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Liability</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChosenRecordTypeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Life Insurance Policies</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChosenRecordTypeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Line of Credit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChosenRecordTypeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Motor Vehicle</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChosenRecordTypeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Other Loans</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChosenRecordTypeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pension Contributions or Individual Retirement Schemes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChosenRecordTypeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Savings/Current Accounts and Investments</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chosenRecordTypeID</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0124P0000011gtYQAQ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chosenRecordTypeID</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>012q00000001gu6AAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chosenRecordTypeID</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0124P0000011gtXQAQ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chosenRecordTypeID</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>012q00000001gu1AAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chosenRecordTypeID</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>012q00000001guBAAQ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chosenRecordTypeID</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>012q00000001gtmAAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chosenRecordTypeID</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>012q00000001guGAAQ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chosenRecordTypeID</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>012q00000001gtwAAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chosenRecordTypeID</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>012q00000001gtrAAA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assets_RecordTypes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>TreatmentofCreditChoice</name>
        <choiceText>{!AssetLiabilityRecord.Treatment_of_Credit__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>AssetLiabilityRecord.Treatment_of_Credit__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeOfAccountChoice</name>
        <choiceText>{!AssetLiabilityRecord.Type_of_Account__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>AssetLiabilityRecord.Type_of_Account__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeofAssetLiabilityChoice</name>
        <choiceText>{!AssetLiabilityRecord.Type_of_Asset_Liability_Recording__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>AssetLiabilityRecord.Type_of_Asset_Liability_Recording__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeOfCardChoice</name>
        <choiceText>{!AssetLiabilityRecord.Type_of_Card__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>AssetLiabilityRecord.Type_of_Card__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Asset</name>
        <label>HasJointAsset</label>
        <locationX>1374</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>AddMoreAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>I</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetLiabilitiesCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopJointOwnerShip</targetReference>
            </connector>
            <label>HasJointAsset</label>
        </rules>
    </decisions>
    <decisions>
        <name>AssetsFound</name>
        <label>AssetsFound</label>
        <locationX>1041</locationX>
        <locationY>750</locationY>
        <defaultConnector>
            <targetReference>checkJointOwnership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assets_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetLiabilitiesCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrimaryAssetLoop</targetReference>
            </connector>
            <label>Assets Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Edit_an_Asset</name>
        <label>Create/Edit an Asset</label>
        <locationX>1811</locationX>
        <locationY>772</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateAssets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assetlistbtn.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADD NEW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssetLiablity_Assignment_add</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>EditAssets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assetlistbtn.selectedValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Add New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAssetBaseonID</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
    </decisions>
    <decisions>
        <name>SwitchLayout</name>
        <label>SwitchLayout</label>
        <locationX>3067</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assets_and_Liabilities_decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ChosenRecordType.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124P0000011gtYQAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAssetBaseonID.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124P0000011gtYQAQ</stringValue>
                </rightValue>
            </conditions>
            <label>Assets and Liabilities</label>
        </rules>
        <rules>
            <name>Credit_Card_Line_of_Credit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ChosenRecordType.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012q00000001gu6AAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAssetBaseonID.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012q00000001gu6AAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreditCard_LineofCredit</targetReference>
            </connector>
            <label>Credit Card/Line of Credit</label>
        </rules>
        <rules>
            <name>Life_Insurance_Policies</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ChosenRecordType.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012q00000001gu1AAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAssetBaseonID.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012q00000001gu1AAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LifeInsurance</targetReference>
            </connector>
            <label>Life Insurance Policies</label>
        </rules>
        <rules>
            <name>Motor_Vehicle</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ChosenRecordType.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012q00000001gtmAAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAssetBaseonID.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012q00000001gtmAAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MotorVehicle</targetReference>
            </connector>
            <label>Motor Vehicle</label>
        </rules>
        <rules>
            <name>Line_of_Credit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ChosenRecordType.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012q00000001guBAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAssetBaseonID.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012q00000001guBAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreditCard_LineofCredit</targetReference>
            </connector>
            <label>Line of Credit</label>
        </rules>
        <rules>
            <name>Pension_desicision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ChosenRecordType.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012q00000001gtwAAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAssetBaseonID.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012q00000001gtwAAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>pension</targetReference>
            </connector>
            <label>Pension</label>
        </rules>
        <rules>
            <name>Real_Estate_decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ChosenRecordType.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Real Estate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Real_Estate</targetReference>
            </connector>
            <label>Real Estate</label>
        </rules>
        <rules>
            <name>Savings_Current_Accounts_and_Investments</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ChosenRecordType.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012q00000001gtrAAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAssetBaseonID.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012q00000001gtrAAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Savings</targetReference>
            </connector>
            <label>Savings/Current Accounts and Investments</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_or_Add</name>
        <label>Update or Add</label>
        <locationX>4099</locationX>
        <locationY>376</locationY>
        <defaultConnector>
            <targetReference>Create_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetLiabilityRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>GetChoiceOptionTrueFalse</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAssets</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CountryPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country_of_Citizenship__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GenderSelect</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FinServ__Gender__pc</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HighestEducation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Highest_Level_of_Education_attained__pc</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IndentificationType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Identification_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IndustryPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry__c</picklistField>
        <picklistObject>FinServ__Employment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MaritalStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Marital_Status__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OccupationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FinServ__Occupation__c</picklistField>
        <picklistObject>FinServ__Employment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PrimaryTypeEmployment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Employment_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Proptype_PICKLIST</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Property_Type__c</picklistField>
        <picklistObject>FinServ__AssetsAndLiabilities__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PropTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Property_Type__c</picklistField>
        <picklistObject>FinServ__AssetsAndLiabilities__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelationShipPicklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>FinServ__ReciprocalRole__c</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Treatment0fCreditPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Treatment_of_Credit__c</picklistField>
        <picklistObject>FinServ__AssetsAndLiabilities__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeofAccountPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Account__c</picklistField>
        <picklistObject>FinServ__AssetsAndLiabilities__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeofAssetPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Asset_Liability_Recording__c</picklistField>
        <picklistObject>FinServ__AssetsAndLiabilities__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeOfCard</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Card__c</picklistField>
        <picklistObject>FinServ__AssetsAndLiabilities__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>autosubmitprimary</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!AssetLiabilityRecord.FinServ__PrimaryOwner__c})), {!AssetLiabilityRecord.FinServ__PrimaryOwner__c} , {!applicantList.selectedValue})</expression>
    </formulas>
    <formulas>
        <name>CustomerDetail</name>
        <dataType>String</dataType>
        <expression>{!CustomerAssignment.Name}&amp;&quot;,&quot;&amp;{!CustomerAssignment.Mobile_Phone__c}</expression>
    </formulas>
    <formulas>
        <name>getUsername</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>RecordTypeSelectedCheck</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!ChosenRecordType.selectedValue})), {!ChosenRecordType.selectedValue},{!getAssetBaseonID.RecordTypeId})</expression>
    </formulas>
    <formulas>
        <name>setLien</name>
        <dataType>Boolean</dataType>
        <expression>IF({!AssetLiabilityRecord.Lien_on_Asset__c}=True, True,False)</expression>
    </formulas>
    <formulas>
        <name>setTonull</name>
        <dataType>String</dataType>
        <expression>null</expression>
    </formulas>
    <interviewLabel>Applicant Assets and Liability {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Applicant Assets and Liability</label>
    <loops>
        <name>GetAllApplicant</name>
        <label>GetAllApplicant</label>
        <locationX>362</locationX>
        <locationY>433</locationY>
        <assignNextValueToReference>LoopStoreApplicant</assignNextValueToReference>
        <collectionReference>getOpportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getApplicantDetails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ApplicantScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopJointOwnerShip</name>
        <label>loopJointOwnerShip</label>
        <locationX>1385</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>PrimaryAssetCollection</assignNextValueToReference>
        <collectionReference>AssetLiabilitiesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AddMoreAssignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>PrimaryAssetLoop</name>
        <label>PrimaryAssetLoop</label>
        <locationX>1043</locationX>
        <locationY>583</locationY>
        <assignNextValueToReference>PrimaryAssetCollection</assignNextValueToReference>
        <collectionReference>AssetLiabilitiesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assetListAssignmentInlOOP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkJointOwnership</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AssetJunction</name>
        <label>AssetJunction</label>
        <locationX>4465</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>savedEmployment_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>ApplicationDetailID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assets_and_Liabilities__c</field>
            <value>
                <elementReference>AssetLiabilityRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application_Asset_Liability__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Asset</name>
        <label>Create Asset</label>
        <locationX>4228</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>AssetJunction</targetReference>
        </connector>
        <inputReference>AssetLiabilityRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>checkJointOwnership</name>
        <label>checkJointOwnership</label>
        <locationX>1262</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset</targetReference>
        </connector>
        <filters>
            <field>FinServ__JointOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicantList.selectedValue</elementReference>
            </value>
        </filters>
        <object>FinServ__AssetsAndLiabilities__c</object>
        <outputReference>AssetLiabilitiesCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAllAccount</name>
        <label>GetAllAccount</label>
        <locationX>2778</locationX>
        <locationY>785</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assets_and_Liabilities</targetReference>
        </connector>
        <object>Account</object>
        <outputReference>AccountCollectionRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getApplicantDetails</name>
        <label>getApplicantDetails</label>
        <locationX>524</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignApplicantDetailsfromLoop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fault_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopStoreApplicant.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAssetBaseonID</name>
        <label>getAssetBaseonID</label>
        <locationX>2031</locationX>
        <locationY>596</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssetLiablity_Assignment_add_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetlistbtn.selectedValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__AssetsAndLiabilities__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FinServ__PrimaryOwner__c</queriedFields>
        <queriedFields>FinServ__JointOwner__c</queriedFields>
        <queriedFields>Monthly_Contribution_After_Loan__c</queriedFields>
        <queriedFields>Type_of_Asset_Liability_Recording__c</queriedFields>
        <queriedFields>Account_Balance__c</queriedFields>
        <queriedFields>Financial_Institution__c</queriedFields>
        <queriedFields>Type_of_Account__c</queriedFields>
        <queriedFields>Asset_Credit_Limit__c</queriedFields>
        <queriedFields>Asset_Credit_Balance__c</queriedFields>
        <queriedFields>Percent_Average_Monthly_User__c</queriedFields>
        <queriedFields>Type_of_Card__c</queriedFields>
        <queriedFields>Minimum_Payment__c</queriedFields>
        <queriedFields>Vehicle_Details__c</queriedFields>
        <queriedFields>Lien_on_Asset__c</queriedFields>
        <queriedFields>Total_Contributions_to_Date__c</queriedFields>
        <queriedFields>Monthly_Payment_Prior__c</queriedFields>
        <queriedFields>Address__c</queriedFields>
        <queriedFields>Property_Type__c</queriedFields>
        <queriedFields>Treatment_of_Credit__c</queriedFields>
        <queriedFields>Monthly_Savings_Investment__c</queriedFields>
        <queriedFields>Cash_Value__c</queriedFields>
        <queriedFields>Description_of_Asset__c</queriedFields>
        <queriedFields>FinServ__Amount__c</queriedFields>
        <queriedFields>FinServ__Description__c</queriedFields>
        <queriedFields>Education_Tax__c</queriedFields>
        <queriedFields>Lender__c</queriedFields>
        <queriedFields>FinServ__Ownership__c</queriedFields>
        <queriedFields>Total_Market_Value__c</queriedFields>
        <queriedFields>Percent_Applicant_Portion__c</queriedFields>
        <queriedFields>Percent_Ownership__c</queriedFields>
        <queriedFields>Policy_Number__c</queriedFields>
        <queriedFields>Loan_Balance__c</queriedFields>
        <queriedFields>Type_of_Loan__c</queriedFields>
        <queriedFields>Overdraft_Limit__c</queriedFields>
        <queriedFields>Monthly_Payment_Calc__c</queriedFields>
        <queriedFields>NHT_Contributions_Monthly__c</queriedFields>
        <queriedFields>Total_Market_Value_Calc__c</queriedFields>
        <queriedFields>Sum_Insured__c</queriedFields>
        <queriedFields>Annual_Premium__c</queriedFields>
        <queriedFields>NIS_Contributions_Monthly__c</queriedFields>
        <queriedFields>Pension_Scheme__c</queriedFields>
        <queriedFields>Monthly_Payment__c</queriedFields>
        <queriedFields>Loan_Repaid_from_Facility__c</queriedFields>
        <queriedFields>Rent_Board_Monthly_Before__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAssetsList</name>
        <label>GetAssetsList</label>
        <locationX>858</locationX>
        <locationY>761</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssetsFound</targetReference>
        </connector>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicantList.selectedValue</elementReference>
            </value>
        </filters>
        <object>FinServ__AssetsAndLiabilities__c</object>
        <outputReference>AssetLiabilitiesCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>207</locationX>
        <locationY>627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAllApplicant</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Applicant__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAssets</name>
        <label>UpdateAssets</label>
        <locationX>4222</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>savedEmployment_0</targetReference>
        </connector>
        <inputReference>AssetLiabilityRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>ApplicantScreen</name>
        <label>ApplicantScreen</label>
        <locationX>657</locationX>
        <locationY>762</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetAssetsList</targetReference>
        </connector>
        <fields>
            <name>applicantList</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>Customercheck_details</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>CustomerCheck_ID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Select an applicant</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AssetListing</name>
        <label>AssetListing</label>
        <locationX>1712</locationX>
        <locationY>769</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Edit_an_Asset</targetReference>
        </connector>
        <fields>
            <name>assetlistbtn</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>AssetName_coll</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>AssetID_coll</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Add/Edit Assets</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assets_and_Liabilities</name>
        <label>Assets and Liabilities</label>
        <locationX>3003</locationX>
        <locationY>572</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SwitchLayout</targetReference>
        </connector>
        <fields>
            <name>disp_asset</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.CurrentStage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>informationTitle</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Information Header&lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Asset_or_Liability_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Name</elementReference>
            </defaultValue>
            <fieldText>Asset or Liability Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PrimaryOwnerLookup</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>autosubmitprimary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>JointOwnerLookup</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>getAssetBaseonID.FinServ__JointOwner__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>AssetLiabilityRecord.FinServ__JointOwner__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Monthly_Contribution_After_Loan</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Monthly_Contribution_After_Loan__c</elementReference>
            </defaultValue>
            <fieldText>Monthly Contribution After Loan</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Type_of_Asset_Liablitiy</name>
            <choiceReferences>TypeofAssetPicklist</choiceReferences>
            <choiceReferences>TypeofAssetLiabilityChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>TypeofAssetLiabilityChoice</defaultSelectedChoiceReference>
            <fieldText>Type of Asset Liablitiy</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Financial_Institution_mn</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Financial_Institution__c</elementReference>
            </defaultValue>
            <fieldText>Financial Institution</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lien_on_Asset</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>setLien</elementReference>
            </defaultValue>
            <fieldText>Lien on Asset</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PercentApplicationPortion</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Percent Application Portion</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>AssetLiabilityRecord.Percent_Applicant_Portion__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ChosenRecordType.selectedValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Motor Vehicle</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ChosenRecordType.selectedValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Real Estate</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assets_RecordTypes</name>
        <label>Assets RecordTypes</label>
        <locationX>2632</locationX>
        <locationY>749</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetAllAccount</targetReference>
        </connector>
        <fields>
            <name>disp_records</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.CurrentStage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChosenRecordType</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>chosenRecordTypeID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>ChosenRecordTypeCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Select the type of Asset /  Liability </stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreditCard_LineofCredit</name>
        <label>CreditCard / Line of Credit</label>
        <locationX>3229</locationX>
        <locationY>137</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssetLiablity_Assignment</targetReference>
        </connector>
        <fields>
            <name>disp_creditcard</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.CurrentStage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreditCardDisp</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Credit Card/Line of Credit Summary&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Asset_Credit_Limit</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Asset_Credit_Limit__c</elementReference>
            </defaultValue>
            <fieldText>Asset Credit Limit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Asset_Credit_Balance</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Account_Balance__c</elementReference>
            </defaultValue>
            <fieldText>Asset Credit Balance</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>PercentAverageMonthlyUse</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Percent Average Monthly Use</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <elementReference>AssetLiabilityRecord.Percent_Average_Monthly_User__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChosenRecordType.selectedValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Credit Card</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Treatment_Of_Credit</name>
            <choiceReferences>Treatment0fCreditPicklist</choiceReferences>
            <choiceReferences>TreatmentofCreditChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>TreatmentofCreditChoice</defaultSelectedChoiceReference>
            <fieldText>Treatment Of Credit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_of_Card</name>
            <choiceReferences>TypeOfCard</choiceReferences>
            <choiceReferences>TypeOfCardChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>TypeOfCardChoice</defaultSelectedChoiceReference>
            <fieldText>Type of Card</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChosenRecordType.selectedValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Credit Card</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Minimum_Payment</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Minimum_Payment__c</elementReference>
            </defaultValue>
            <fieldText>Minimum Payment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>fault_Screen</name>
        <label>fault Screen</label>
        <locationX>629</locationX>
        <locationY>218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultmsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Add an applicant before attempting to add an asset&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(250, 76, 1);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LifeInsurance</name>
        <label>LifeInsurance</label>
        <locationX>3510</locationX>
        <locationY>410</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssetLiablity_Assignment</targetReference>
        </connector>
        <fields>
            <name>disp_life</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.CurrentStage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lifeinsurancedisp</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Life Insurance Summary&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cash_Value</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Cash_Value__c</elementReference>
            </defaultValue>
            <fieldText>Cash Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>LifeInsurancePolicy</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Life Insurance Policy&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Policy_Number</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Policy_Number__c</elementReference>
            </defaultValue>
            <fieldText>Policy Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Overdraft_Limit</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Overdraft_Limit__c</elementReference>
            </defaultValue>
            <fieldText>Overdraft Limit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Annual_Premium</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Annual_Premium__c</elementReference>
            </defaultValue>
            <fieldText>Annual Premium</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>1</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MotorVehicle</name>
        <label>MotorVehicle</label>
        <locationX>3331</locationX>
        <locationY>490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssetLiablity_Assignment</targetReference>
        </connector>
        <fields>
            <name>disp_motorvehicle</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.CurrentStage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>motorvehicleDisp</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Motor Vehicle Summary&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vehicle_Details_Year_Make_Model</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Vehicle_Details__c</elementReference>
            </defaultValue>
            <fieldText>Vehicle Details (Year , Make , Model)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Total_Market_Value</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Total_Market_Value__c</elementReference>
            </defaultValue>
            <fieldText>Total Market Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Loan_Balance</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Loan_Balance__c</elementReference>
            </defaultValue>
            <fieldText>Loan Balance</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Monthly_payment</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Monthly_Payment__c</elementReference>
            </defaultValue>
            <fieldText>Monthly Payment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Treatment_of_Creditx</name>
            <choiceReferences>Treatment0fCreditPicklist</choiceReferences>
            <choiceReferences>TreatmentofCreditChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Treatment of Credit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>pension</name>
        <label>Pension</label>
        <locationX>3502</locationX>
        <locationY>257</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssetLiablity_Assignment</targetReference>
        </connector>
        <fields>
            <name>disp_pension</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.CurrentStage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PensionScreenDisp</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Pension Summary&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Total_Contribution_to_Date</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Total_Contributions_to_Date__c</elementReference>
            </defaultValue>
            <fieldText>Total Contribution to Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Pension_Scheme</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Pension_Scheme__c</elementReference>
            </defaultValue>
            <fieldText>Pension Scheme</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Monthly_Payment_Prior_to_Loan</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Monthly_Payment_Prior__c</elementReference>
            </defaultValue>
            <fieldText>Monthly Payment Prior to Loan</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Monthly_Contribution_After_loanx</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Monthly_Contribution_After_Loan__c</elementReference>
            </defaultValue>
            <fieldText>Monthly Contribution After loan</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Real_Estate</name>
        <label>Real Estate</label>
        <locationX>3475</locationX>
        <locationY>662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssetLiablity_Assignment</targetReference>
        </connector>
        <fields>
            <name>disp_realestate</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.CurrentStage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RealEstateDisp</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Real Estate&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Address</name>
            <dataType>String</dataType>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Property_Type</name>
            <choiceReferences>Proptype_PICKLIST</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Property Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>savedEmployment_0</name>
        <label>SavedEmployment</label>
        <locationX>4700</locationX>
        <locationY>385</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>politcal_saved_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 124, 3); font-size: 28px;&quot;&gt;Assets &amp;amp; Liability Saved&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tick_success_app</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>TickSuccess</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Savings</name>
        <label>Savings</label>
        <locationX>3180</locationX>
        <locationY>570</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssetLiablity_Assignment</targetReference>
        </connector>
        <fields>
            <name>disp_savings</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.CurrentStage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saving_and_investment</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Savings/Chequing/Investment Accounts&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Balance</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Account_Balance__c</elementReference>
            </defaultValue>
            <fieldText>Account Balance</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>othersavings</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Other Savings/Chequing/Investment Accounts&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type_of_Account</name>
            <choiceReferences>TypeofAccountPicklist</choiceReferences>
            <choiceReferences>TypeOfAccountChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Monthly_Savings_Investment</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>AssetLiabilityRecord.Monthly_Savings_Investment__c</elementReference>
            </defaultValue>
            <fieldText>Monthly Savings/Investment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>15</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Application_Details_stage</name>
        <isActive>true</isActive>
        <label>Application Details</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Assets_Liabilities_stages</name>
        <isActive>true</isActive>
        <label>Assets &amp; Liabilities</label>
        <stageOrder>11</stageOrder>
    </stages>
    <stages>
        <name>Contact</name>
        <isActive>true</isActive>
        <label>Contact Detail</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Contact_Details_stage</name>
        <isActive>true</isActive>
        <label>Contact Details</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Emergency_Contact_stage</name>
        <isActive>true</isActive>
        <label>Emergency Contact</label>
        <stageOrder>6</stageOrder>
    </stages>
    <stages>
        <name>Employment_Details_stage</name>
        <isActive>true</isActive>
        <label>Employment Details</label>
        <stageOrder>8</stageOrder>
    </stages>
    <stages>
        <name>General_Detail_Information</name>
        <isActive>true</isActive>
        <label>General Detail Information</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Identity_Details</name>
        <isActive>true</isActive>
        <label>Identity Details</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>JN_Affiliated_stage</name>
        <isActive>true</isActive>
        <label>JN Affiliated</label>
        <stageOrder>7</stageOrder>
    </stages>
    <stages>
        <name>JN_Politically_Affiliated_stage</name>
        <isActive>true</isActive>
        <label>JN Politically Affiliated</label>
        <stageOrder>9</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>688</locationY>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountCollectionEmpty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountCollectionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>AccountToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ApplicantDetailColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ApplicationDetailID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AreYouThisPersonChoice</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetID_coll</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetLiabilitiesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__AssetsAndLiabilities__c</objectType>
    </variables>
    <variables>
        <name>AssetLiabilityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__AssetsAndLiabilities__c</objectType>
    </variables>
    <variables>
        <name>AssetName_coll</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChosenRecordTypeCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chosenRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CustomerAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Customercheck_details</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerCheck_ID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmergContactToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>GetChoiceOptionTrueFalse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>GetContactContactRelation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__ContactContactRelation__c</objectType>
    </variables>
    <variables>
        <name>getCustomerColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>GetEmploymentcoLL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__Employment__c</objectType>
    </variables>
    <variables>
        <name>GetExistingContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>JnContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopStoreApplicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Applicant__c</objectType>
    </variables>
    <variables>
        <name>LoopStoreApplicantInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>PolitcalContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryAssetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__AssetsAndLiabilities__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelationLoopUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__ContactContactRelation__c</objectType>
    </variables>
    <variables>
        <name>RelationToBeUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>YesNoCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
