force-app/main/default/flows/DebtCosolidation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assign_to_collection</name>
        <label>assign to collection</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ApplicantCollections</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>testformula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>split_name</name>
        <label>split name</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ApplicantName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>substring</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Test</name>
        <label>Merge name</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>testformula</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DisplayName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Applicants_Exists</name>
        <label>Applicants Exists</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Message_If_No_Applicant_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Applicants Found</defaultConnectorLabel>
        <rules>
            <name>Applicant_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Appilcant_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_applicants</targetReference>
            </connector>
            <label>Applicant Exists</label>
        </rules>
    </decisions>
    <formulas>
        <name>DisplayName</name>
        <dataType>String</dataType>
        <expression>{!Get_Accounts_Name.Name} +&apos;_&apos;+{!Loop_over_applicants.Name}</expression>
    </formulas>
    <formulas>
        <name>substring</name>
        <dataType>String</dataType>
        <expression>RIGHT({!ApplicantSelection.selectedValue},(LEN({!ApplicantSelection.selectedValue})-FIND(&quot;_&quot;,{!ApplicantSelection.selectedValue})))</expression>
    </formulas>
    <interviewLabel>DebtCosolidation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DebtCosolidation</label>
    <loops>
        <name>Loop_over_applicants</name>
        <label>Loop over applicants</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Appilcant_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Accounts_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Applicant_Display</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetApplicantId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ApplicantName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Accounts_Name</name>
        <label>Get Accounts Name</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_applicants.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Appilcant_records</name>
        <label>Get Appilcant records</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Applicants_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Appilcant_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>LoanPurpose</assignToReference>
            <field>Loan_Purpose_ULR__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetApplicantId</name>
        <label>GetApplicantId</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aura_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Applicant_Display</name>
        <label>Applicant Display</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>split_name</targetReference>
        </connector>
        <fields>
            <name>ApplicantSelection</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>ApplicantCollections</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>ApplicantSelection.selectedValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>ApplicantCollections</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Please Select Applicant :</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Aura_Screen</name>
        <label>Aura Screen</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DebtCosolidationAura</name>
            <extensionName>c:DebtConsolidation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>applicantId</name>
                <value>
                    <elementReference>GetApplicantId.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>loanPurpose</name>
                <value>
                    <elementReference>LoanPurpose</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>GetApplicantId.Account__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TotalDebtAmount</assignToReference>
                <name>totalDebtAmount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>TotalMonthlypayment</assignToReference>
                <name>totalMonthlyPayment</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_If_No_Applicant_Found</name>
        <label>Message_If_No_Applicant_Found</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message_For_Users</name>
            <fieldText>&lt;p&gt;No Applicants exists for this Opportunity&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>appendText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>FINISH</stringValue>
        </value>
    </variables>
    <variables>
        <name>ApplicantCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Applicant__c</objectType>
    </variables>
    <variables>
        <name>ApplicantCollections</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantSelectionChoices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanPurpose</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testformula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalDebtAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalMonthlypayment</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
