force-app/main/default/flows/JN_Applicant_Assets_Liabilities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Application_Exists</name>
        <label>Application Exists</label>
        <locationX>290</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>No_Applications_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApplicationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assets_And_Liabilities</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel
  >JN Applicant Assets/Liabilities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JN Applicant Assets/Liabilities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>No_Applications_Available</name>
        <label>No Applications Available</label>
        <locationX>696</locationX>
        <locationY>467</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoApplications</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Sorry, but there are no applications available. Please create one.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Account_Application</name>
        <label>Account Application</label>
        <locationX>276</locationX>
        <locationY>131</locationY>
        <connector>
            <targetReference>Application_Exists</targetReference>
        </connector>
        <flowName>JNAccountApplicationSubflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <name>SelectedAccountID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApplicationId</assignToReference>
            <name>SelectedApplicationId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assets_And_Liabilities</name>
        <label>Assets And Liabilities</label>
        <locationX>692</locationX>
        <locationY>257</locationY>
        <flowName>JnAssetsLiabilitiesSubflow</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ApplicationId</name>
            <value>
                <elementReference>ApplicationId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
