force-app/main/default/flows/JN_Affiliation_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Affiliation_Record</name>
        <label>Assign Affiliation Name</label>
        <locationX>1391</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>BasicNamesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>JNAffiliationAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BasicIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >JNAffiliationAccount.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>JN_Affiliations_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Basic_Choices</name>
        <label>Assign Basic Choices</label>
        <locationX>885</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>BasicChoices</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BasicChoices</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>JN_Affiliation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Id</name>
        <label>Assign Contact Id</label>
        <locationX>2055</locationX>
        <locationY>931</locationY>
        <assignmentItems>
            <assignToReference>SelectedAffiliationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >JNAffiliationAccount.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>JN_Shared_Affiliation_Subflow2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Affiliations_Exists</name>
        <label>Affiliations Exists?</label>
        <locationX>1437</locationX>
        <locationY>762</locationY>
        <defaultConnector>
            <targetReference>Create_Affiliation_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >JNAffiliationsCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JN_Affiliations_Loop</targetReference>
            </connector>
            <label>Yes Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Affiliation_Relationship</name>
        <label>Existing Affiliation Relationship?</label>
        <locationX>2244</locationX>
        <locationY>519</locationY>
        <defaultConnector>
            <targetReference
      >Create_Political_Contact_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Affiliation</defaultConnectorLabel>
        <rules>
            <name>Existing_Affiliation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >ExistingJNAffiliationContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Existing_Political_Affiliation</targetReference>
            </connector>
            <label>Existing Affiliation?</label>
        </rules>
    </decisions>
    <decisions>
        <name>JN_Affiliated</name>
        <label>JN Affiliated ?</label>
        <locationX>932</locationX>
        <locationY>477</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >BasicPoliticalBtn.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>YesJNAffiliated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Account_Name_and_Mobile</name>
        <label>Same Account Name and Mobile</label>
        <locationX>1054</locationX>
        <locationY>901</locationY>
        <defaultConnector>
            <targetReference>Get_Accounts_For_JN_Affiliations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not the same</defaultConnectorLabel>
        <rules>
            <name>Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecord.FirstName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>Person_First_Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountRecord.LastName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>Person_Last_Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >AccountRecord.PersonMobilePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PersonMobileNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SameAccountSearch</targetReference>
            </connector>
            <label>Same</label>
        </rules>
    </decisions>
    <description>Adding fault screen</description>
    <interviewLabel>JN Affiliation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JN Affiliation</label>
    <loops>
        <name>JN_Affiliations_Loop</name>
        <label>JN Affiliations Loop</label>
        <locationX>1396</locationX>
        <locationY>514</locationY>
        <assignNextValueToReference
    >JNAffiliationAccount</assignNextValueToReference>
        <collectionReference>JNAffiliationsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Affiliation_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>JN_Affiliations_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Affiliation_Account</name>
        <label>Create Affiliation Account</label>
        <locationX>1683</locationX>
        <locationY>931</locationY>
        <assignRecordIdToReference>CreatedAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Created_Account_ContactId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Person_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Person_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>PersonMobileNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PersonAccountRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Political_Contact_Relationship</name>
        <label>Create Political Contact Relationship</label>
        <locationX>2262</locationX>
        <locationY>245</locationY>
        <assignRecordIdToReference
    >ContactToContactId</assignRecordIdToReference>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FinServ__Contact__c</field>
            <value>
                <elementReference
        >AccountRecord.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__RelatedContact__c</field>
            <value>
                <elementReference>SelectedAffiliationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__Role__c</field>
            <value>
                <elementReference>ReciprocalRoleRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FinServ__ContactContactRelation__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>280</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reciprocal_Role</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>PersonMobilePhone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Accounts_For_JN_Affiliations</name>
        <label>Get Accounts For JN Affiliations</label>
        <locationX>1217</locationX>
        <locationY>656</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Affiliations_Exists</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Person_First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Person_Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mobile_Number__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonMobileNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mobile_Number__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmptySearchString</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>JNAffiliationsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Account_ContactId</name>
        <label>Get Created Account ContactId</label>
        <locationX>1865</locationX>
        <locationY>931</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>JNAffiliationAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_Relationship</name>
        <label>Get existing Relationship</label>
        <locationX>2242</locationX>
        <locationY>692</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Affiliation_Relationship</targetReference>
        </connector>
        <filters>
            <field>FinServ__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >AccountRecord.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__RelatedContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedAffiliationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReciprocalRoleRecord.Id</elementReference>
            </value>
        </filters>
        <object>FinServ__ContactContactRelation__c</object>
        <outputReference>ExistingJNAffiliationContact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PersonAccount_RecordTypeInfo</name>
        <label>Get PersonAccount RecordTypeInfo</label>
        <locationX>733</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Basic_Choices</targetReference>
        </connector>
        <filters>
            <field>IsPersonType</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>PersonAccountRecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Reciprocal_Role</name>
        <label>Get Reciprocal Role</label>
        <locationX>522</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PersonAccount_RecordTypeInfo</targetReference>
        </connector>
        <filters>
            <field>FinServ__InverseRole__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JN Affiliation Dependent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JN Affiliation</stringValue>
            </value>
        </filters>
        <object>FinServ__ReciprocalRole__c</object>
        <outputReference>ReciprocalRoleRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Existing_Political_Affiliation</name>
        <label>Existing JN Affiliation</label>
        <locationX>2547</locationX>
        <locationY>522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>indicator5</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>JNAffiliationsStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text4</name>
            <fieldText
      >&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(52, 152, 219); font-size: 14px;&quot;&gt;JN Bank Affiliation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>JNAffiliationAlreadyExists</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(244, 125, 104);&quot;&gt;﻿Sorry, you are already politically affiliated with this person.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>2264</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultmessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message_0</name>
        <label>Fault Message</label>
        <locationX>1682</locationX>
        <locationY>1195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultmessage_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>JN_Affiliation</name>
        <label>JN Affiliation</label>
        <locationX>742</locationX>
        <locationY>475</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>JN_Affiliated</targetReference>
        </connector>
        <fields>
            <name>indicator1</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>JNAffiliationsStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text1</name>
            <fieldText
      >&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(52, 152, 219); background-color: rgb(255, 255, 255);&quot;&gt;JN Bank Affiliation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BasicPoliticalBtn</name>
            <extensionName
      >runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>BasicChoices</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>BasicChoices</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue
          >Do you want to add a JN affiliation?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>JN_Affiliations_Selection</name>
        <label>JN Affiliations Selection</label>
        <locationX>1704</locationX>
        <locationY>515</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>JN_Shared_Affiliation_Subflow</targetReference>
        </connector>
        <fields>
            <name>indicator4</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>JNAffiliationsStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text3</name>
            <fieldText
      >&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(52, 152, 219); background-color: rgb(255, 255, 255);&quot;&gt;JN Bank Affiliation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PoliticalAffiliationsBtnSelection</name>
            <extensionName
      >runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>BasicNamesCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>BasicIdCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Please make a selection</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedAffiliationId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SameAccountSearch</name>
        <label>Same Account Search</label>
        <locationX>825</locationX>
        <locationY>897</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>YesJNAffiliated</targetReference>
        </connector>
        <fields>
            <name>indicator3</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>JNAffiliationsStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SameAccountText</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(240, 52, 52); font-size: 14px;&quot;&gt;The information you entered maps to your account, please try searching again. Thanks.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>YesJNAffiliated</name>
        <label>YesJNAffiliated</label>
        <locationX>938</locationX>
        <locationY>670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Same_Account_Name_and_Mobile</targetReference>
        </connector>
        <fields>
            <name>indicator2</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>JNAffiliationsStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text2</name>
            <fieldText
      >&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(52, 152, 219); font-size: 14px;&quot;&gt;JN Bank Affiliation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NoExistingApplicantText</name>
            <fieldText
      >&lt;p&gt;&lt;span style=&quot;color: rgb(52, 152, 219); font-size: 12px;&quot;&gt;﻿Please enter first , name and mobile number to search for an account, if no account is found, then a new one is immediately created and linked. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Person_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Person First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage
        >&lt;p&gt;Cannot exceed a length of 40 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression
        >LEN ({!Person_First_Name}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Person_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Person Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage
        >&lt;p&gt;Cannot exceed a length of 40 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression
        >LEN ({!Person_Last_Name}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>MobileNumber</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PersonMobileNumber</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>161</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>JN_Shared_Affiliation_Subflow</name>
        <label>JN Shared Affiliation Subflow</label>
        <locationX>1989</locationX>
        <locationY>515</locationY>
        <connector>
            <targetReference>Existing_Affiliation_Relationship</targetReference>
        </connector>
        <flowName>JN_Shared_Affiliation_Flow</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AffiliationTypeInput</name>
            <value>
                <stringValue>JNBANK</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>JN_Shared_Affiliation_Subflow2</name>
        <label>JN Shared Affiliation Subflow2</label>
        <locationX>2242</locationX>
        <locationY>931</locationY>
        <connector>
            <targetReference>Get_existing_Relationship</targetReference>
        </connector>
        <flowName>JN_Shared_Affiliation_Flow</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>CreatedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AffiliationTypeInput</name>
            <value>
                <stringValue>JNBANK</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BasicChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>collection of yes and no choices</description>
        <name>BasicChoices</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BasicIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BasicNamesCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactToContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmptySearchString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingJNAffiliationContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__ContactContactRelation__c</objectType>
    </variables>
    <variables>
        <name>ExistingJNContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JNAffiliationAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>JNAffiliationsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>JNAffiliationsStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>JN Affiliations</stringValue>
        </value>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_affilation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonAccountRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>PersonMobileNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReciprocalRoleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__ReciprocalRole__c</objectType>
    </variables>
    <variables>
        <name>Relationshiptoapplicant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAffiliationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
