force-app/main/default/flows/JN_Shared_Affiliation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assigning_Defaults_for_Variables</name>
        <label>Assigning Defaults for Variables</label>
        <locationX>362</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>PoliticalRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Account_Records.Political_Affiliation_Role__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PoliticalRelationship</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Account_Records.Political_Affiliation_Relationship__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JNBankRelationship</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Account_Records.JN_Bank_Affiliation_Relationship__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JNBankLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Account_Records.JN_Bank_Affiliated_Location__pc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AffiliationType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_For_Variables</name>
        <label>Assignment For Variables</label>
        <locationX>805</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference
      >Get_Account_Records.Political_Affiliation_Role__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Political_Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >Get_Account_Records.Political_Affiliation_Relationship__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >PoliticalAffiliation_relationship.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >Get_Account_Records.JN_Bank_Affiliation_Relationship__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >JNBank_Relationship.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >Get_Account_Records.JN_Bank_Affiliated_Location__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >JNAffiliationLocation.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AffiliationType</name>
        <label>Affiliation Type</label>
        <locationX>352</locationX>
        <locationY>380</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>JN_Bank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AffiliationTypeInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JNBANK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JN_Bank_Affiliation</targetReference>
            </connector>
            <label>JN Bank</label>
        </rules>
        <rules>
            <name>Political_Affiliation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AffiliationTypeInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POLITICAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Political_Affiliation_Details</targetReference>
            </connector>
            <label>Political Affiliation</label>
        </rules>
    </decisions>
    <description>Adding fault screen</description>
    <interviewLabel
  >JN Shared Affiliation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JN Shared Affiliation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description
    >Retrieves records such as Political Role, Relationship to Applicant, etc.</description>
        <name>Get_Account_Records</name>
        <label>Get Account Records</label>
        <locationX>204</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigning_Defaults_for_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Political_Affiliation_Role__pc</queriedFields>
        <queriedFields>Political_Affiliation_Relationship__pc</queriedFields>
        <queriedFields>JN_Bank_Affiliation_Relationship__pc</queriedFields>
        <queriedFields>JN_Bank_Affiliated_Location__pc</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>1013</locationX>
        <locationY>395</locationY>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputReference>Get_Account_Records</inputReference>
    </recordUpdates>
    <screens>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>1176</locationX>
        <locationY>394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultmessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>JN_Bank_Affiliation</name>
        <label>JN Bank Affiliation Additional Details</label>
        <locationX>619</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_For_Variables</targetReference>
        </connector>
        <fields>
            <name>JNBankAffiliation_indicator</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>JNAffiliationsStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>JNBankAffilation</name>
            <fieldText
      >&lt;p&gt;&lt;b style=&quot;color: rgb(52, 152, 219); font-size: 14px;&quot;&gt;JN Bank Affiliation - Additional Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>JNAffiliationLocation</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>JN Bank Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>JN_Bank_Affiliated_Location__pc</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>JNBankLocation</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>JNBank_Relationship</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Relationship to Applicant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue
          >JN_Bank_Affiliation_Relationship__pc</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>JNBankRelationship</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Political_Affiliation_Details</name>
        <label>Political Affiliation Details</label>
        <locationX>609</locationX>
        <locationY>530</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_For_Variables</targetReference>
        </connector>
        <fields>
            <name>PoliticalAffiliation_Stage</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference
          >PoliticalAffiliationsStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PoliticalAffilation</name>
            <fieldText
      >&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Political Affiliation - Additional Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Political_Role</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference
        >Get_Account_Records.Political_Affiliation_Role__pc</elementReference>
            </defaultValue>
            <fieldText>Political Role</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PoliticalAffiliation_relationship</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Relationship to Applicant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue
          >Political_Affiliation_Relationship__pc</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>PoliticalRelationship</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>Get_Account_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AffiliationTypeInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JNAffiliation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>JNAffiliationsStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>JN Affiliations</stringValue>
        </value>
    </variables>
    <variables>
        <name>JNBankLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>JNBankRelationship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>JNBankRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PoliticalAffiliationsStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Political Affiliations</stringValue>
        </value>
    </variables>
    <variables>
        <name>PoliticalRelationship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PoliticalRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
