force-app/main/default/flows/JNEmploymentDetailsSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Record_Types</name>
        <label>Assign Record Types</label>
        <locationX>432</locationX>
        <locationY>1700</locationY>
        <assignmentItems>
            <assignToReference>RecordTypesIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordTYpeLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTypeDeveloperNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordTYpeLoop.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Defaults_for_Previous_Emloyment_Self</name>
        <label>Assigning Defaults for Previous Emloyment Self</label>
        <locationX>2358</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>CountryDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Country_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndustryDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Industry_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProfessionalCategoryDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Professional_Category_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreviousEmployerNameDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Name_of_Previous_Employer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PositionDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Position_Previously_Held__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Street1Default</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Street_1_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Street2Default</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Street_2_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Street3Default</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Street_3_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CityTownDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.City_Town_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProvinceParishStateDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Province_Parish_State_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResidentialAreaDistrictDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Residential_Area_District_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostOfficeZipCodeDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Post_Office_Zip_Code_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessNumber1Default</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Business_Number_1_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessNumber2Default</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Business_Number_2_prev__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Previous_Employment_Screen_self</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Defaults_for_Previous_Employment</name>
        <label>Assigning Defaults for Previous Employment</label>
        <locationX>2024</locationX>
        <locationY>848</locationY>
        <assignmentItems>
            <assignToReference>ProfessionalCategoryDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Professional_Category_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndustryDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Industry_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountryDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Country_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreviousEmployerNameDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Name_of_Previous_Employer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PositionDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Position_Previously_Held__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Street1Default</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Street_1_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Street2Default</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Street_2_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Street3Default</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Street_3_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CityTownDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.City_Town_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProvinceParishStateDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Province_Parish_State_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResidentialAreaDistrictDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Residential_Area_District_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostOfficeZipCodeDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Post_Office_Zip_Code_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessNumber1Default</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Business_Number_1_prev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessNumber2Default</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousEmploymentRecord.Business_Number_2_prev__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Previous_Employment_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Variables_for_Previous_Employment</name>
        <label>Assignment of Variables for Previous Employment</label>
        <locationX>2303</locationX>
        <locationY>851</locationY>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Professional_Category_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProfessionalCategory_prev.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Country_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_prev.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Industry_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Industry_prev.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Name_of_Previous_Employer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_Previous_Employer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Position_Previously_Held__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Position_Held</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Street_1_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_1_prev</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Street_2_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_2_prev</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Street_3_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_3_prev</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.City_Town_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City_Town_prev</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Residential_Area_District_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Residential_Area_District_prev</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Province_Parish_State_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Province_Parish_State_prev</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Post_Office_Zip_Code_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Office_Zip_Code_prev</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Business_Number_1_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessNumber1_prev.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Business_Number_2_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessNumber2_prev.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Method</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Variables_for_Previous_Employment_0</name>
        <label>Assignment of Variables for Previous Employment</label>
        <locationX>2651</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Professional_Category_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProfessionalCategory_prev_self.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Country_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_prev_self.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Industry_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Industry_prev_self.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Name_of_Previous_Employer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_Previous_Employer_self</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Position_Previously_Held__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Position_Held_self</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Street_1_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_1_prev_self</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Street_2_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_2_prev_self</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Street_3_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_3_prev_self</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.City_Town_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City_Town_prev_self</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Residential_Area_District_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Residential_Area_District_prev_self</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Province_Parish_State_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Province_Parish_State_prev_self</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Post_Office_Zip_Code_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Office_Zip_Code_prev_self</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Business_Number_1_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessNumber1_prev_self.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Business_Number_2_prev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessNumber2_prev_self.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Method</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Employed_RecordTypeid_assign</name>
        <label>Employed RecordTypeid assign</label>
        <locationX>179</locationX>
        <locationY>1370</locationY>
        <assignmentItems>
            <assignToReference>EmployedRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTYpeLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns variables for picklists</description>
        <name>Employed_Variable_Assignment</name>
        <label>Employed Variable Assignment</label>
        <locationX>1712</locationX>
        <locationY>568</locationY>
        <assignmentItems>
            <assignToReference>EmploymentStatusDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.FinServ__EmploymentStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProfessionalCategoryDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.Professional_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OccupationDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.FinServ__Occupation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountryDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndustryDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.Industry__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employment_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Employment_Details_Assignment</name>
        <label>Employment Details Assignment</label>
        <locationX>1910</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmployedRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_Current_Employer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.FinServ__Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Position_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Current_Employment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Employment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.FinServ__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.FinServ__EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Street_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Street_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Street_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.City_Town__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City_Town</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Post_Office_Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Position_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Province_Parish_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Business_Number_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_number.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Business_Number_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>business_number2.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.FinServ__EmploymentStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmployedStatus_employed.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Professional_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Professional_Category.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Time_in_Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Time_Employed_in_Present_Industry_Years</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Time_Employed_in_Present_Industry_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Time_Employed_in_Present_Industry_Months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.FinServ__Occupation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Occupation_employed.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_employed.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Residential_Area_District__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Residential_Area_District</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Industry_employed.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employed_Less_Than_1_Year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Name_Id_Selection</name>
        <label>Name  Id Selection</label>
        <locationX>772</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>NamesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmploymentDetails.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmploymentDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queried_Employment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Variables</name>
        <label>Reset Variables</label>
        <locationX>1156</locationX>
        <locationY>1081</locationY>
        <assignmentItems>
            <assignToReference>EmploymentDetailsList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NamesList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Self_Employed_Assign</name>
        <label>Self Employed Assign</label>
        <locationX>696</locationX>
        <locationY>1371</locationY>
        <assignmentItems>
            <assignToReference>SelfEmployedRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTYpeLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Self_Employed_Assignment</name>
        <label>Self Employed Assignment</label>
        <locationX>1956</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelfEmployedRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_Business_SELF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Type_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_Of_Business_SELF.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Date_of_Incorporation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Incorporation_SELF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Nature_of_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nature_of_Engagement_Self.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Length_of_Trade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Length_Of_trade_SELF.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Street_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_1_SELF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Street_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_2_SELF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Street_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_3_SELF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.City_Town__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City_Town_SELF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Residential_Area_District__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Residential_Area_District_SELF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Post_Office_Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Office_Zip_Code_SELF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Province_Parish_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Province_Parish_State_SELF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_0.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Business_Number_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Number_SELF.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Business_Number_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_number_2SELF.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Current_Employment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Employment_self</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Assessment_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assessment_Business.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Assessment_of_Statement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assessment_Business_Statement.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Assessment_of_Business_Working_Capita__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assessment_Business_Working_Capital.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Time_in_Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Time_Employed_in_Present_Industry_Years_SELF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Time_Employed_in_Present_Industry_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Time_Employed_in_Present_Industry_Months_SELF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Industry_self.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Self_Employed_Less_Than_1_Year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This Assignment assigns the Variables for the picklists</description>
        <name>Self_Employed_Variable_Assignment</name>
        <label>Self Employed Variable Assignment</label>
        <locationX>1602</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>CountryDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndustryDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.Industry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LengthTradeDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.Length_of_Trade__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NatureEngagementDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.Nature_of_Engagement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TypeBusinessDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.Type_of_Business__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssessmentBusinessDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.Assessment_of_Business__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssessmentOfBusinessStatementDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.Assessment_of_Statement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssessmentOfBusinessWorkingCapitalDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.Assessment_of_Business_Working_Capita__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Self_Employed_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Defaults</name>
        <label>Set Defaults</label>
        <locationX>1438</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>LengthTradeDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.Length_of_Trade__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountryDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NatureEngagementDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.Nature_of_Engagement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TypeBusinessDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.Type_of_Business__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employment_Screen_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_Employment</name>
        <label>Set Selected Employment and Income,industry</label>
        <locationX>1589</locationX>
        <locationY>1261</locationY>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmploymentDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmploymentDetails.Income_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndustryDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmploymentDetails.Industry__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employment_Screen_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unemployed_Assignment</name>
        <label>Unemployed Assignment</label>
        <locationX>2442</locationX>
        <locationY>1012</locationY>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnEmployedRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_Previous_Employer_UN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Street_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_1_UN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Street_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_2_UN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Street_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_3_UN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.City_Town__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City_Town_UN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Post_Office_Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Office_Zip_Code_UN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Residential_Area_District__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Residential_Area_District_UN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Province_Parish_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Province_Parish_State_UN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Business_Number_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Number_UN.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Business_Number_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_number_2UN.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.FinServ__Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Position_Held_UN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Current_Employment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>was_this_your_last_Job</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Professional_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProfessionalCategory_unemployed.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEmploymentRecord.Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndustryDefault</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Method</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment unemployed variables</description>
        <name>Unemployed_Assignment_Variables</name>
        <label>Unemployed Assignment Variables</label>
        <locationX>1561</locationX>
        <locationY>790</locationY>
        <assignmentItems>
            <assignToReference>Country_Unemployed_Variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProfessionalCategoryDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.Professional_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndustryDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEmploymentRecord.Industry__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unemployed_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unemployed_RecordType_Id_assign</name>
        <label>Unemployed RecordType Id assign</label>
        <locationX>433</locationX>
        <locationY>1397</locationY>
        <assignmentItems>
            <assignToReference>UnEmployedRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTYpeLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_Types</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>IncomeTypeChoice</name>
        <choiceText>{!IncomeTypeFormula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>IncomeTypeFormula</elementReference>
        </value>
    </choices>
    <choices>
        <name>IndustryChoice</name>
        <choiceText>{!IndustryFormula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>IndustryFormula</elementReference>
        </value>
    </choices>
    <choices>
        <name>IndustryOfEmploymentChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!IndustryOfEmploymentFormula}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>IndustryOfEmploymentFormula</elementReference>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Employed_Less_Than_1_Year</name>
        <label>Employed Less Than 1 Year?</label>
        <locationX>2103</locationX>
        <locationY>569</locationY>
        <defaultConnector>
            <targetReference>Method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LengthOfEmploymentCalc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Employment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Defaults_for_Previous_Employment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employment_Screen_Selection</name>
        <label>Employment Screen Selection</label>
        <locationX>1377</locationX>
        <locationY>570</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Employed_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeBtn.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmployedRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employed_Variable_Assignment</targetReference>
            </connector>
            <label>Employed Screen</label>
        </rules>
        <rules>
            <name>Unemployed_Screen_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeBtn.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UnEmployedRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unemployed_Assignment_Variables</targetReference>
            </connector>
            <label>Unemployed Screen</label>
        </rules>
        <rules>
            <name>Self_Employed_Screen_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeBtn.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SelfEmployedRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_Employed_Variable_Assignment</targetReference>
            </connector>
            <label>Self-Employed Screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_selected_employment</name>
        <label>Get selected employment</label>
        <locationX>1362</locationX>
        <locationY>1264</locationY>
        <defaultConnector>
            <targetReference>Select_Employment_Detail_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Employment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmploymentDetails.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>availableEmploymentBtn.selectedValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Selected_Employment</targetReference>
            </connector>
            <label>Selected Employment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Employment_Records</name>
        <label>Has Employment Records</label>
        <locationX>1043</locationX>
        <locationY>571</locationY>
        <defaultConnector>
            <targetReference>Empty_Employment_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>HasEmployment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmploymentDetailsList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Available_Employment_Details</targetReference>
            </connector>
            <label>Has Employment Details</label>
        </rules>
    </decisions>
    <decisions>
        <name>Method</name>
        <label>Method</label>
        <locationX>2446</locationX>
        <locationY>563</locationY>
        <defaultConnector>
            <targetReference>Create_Employment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedEmploymentRecord.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_employment</targetReference>
            </connector>
            <label>Update Employment</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType_Variable</name>
        <label>RecordType Variable</label>
        <locationX>423</locationX>
        <locationY>1101</locationY>
        <defaultConnector>
            <targetReference>Record_Type_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Employed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTYpeLoop.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employed_RecordTypeid_assign</targetReference>
            </connector>
            <label>Employed</label>
        </rules>
        <rules>
            <name>Self_Employed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTYpeLoop.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self_Employed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_Employed_Assign</targetReference>
            </connector>
            <label>Self Employed</label>
        </rules>
        <rules>
            <name>Unemployed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTYpeLoop.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unemployed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unemployed_RecordType_Id_assign</targetReference>
            </connector>
            <label>Unemployed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Self_Employed_Less_Than_1_Year</name>
        <label>Self Employed Less Than 1 Year?</label>
        <locationX>2108</locationX>
        <locationY>325</locationY>
        <defaultConnector>
            <targetReference>Method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LengthOfSelfEmploymentCalc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Employment_self</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Defaults_for_Previous_Emloyment_Self</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_add_information</name>
        <label>Should add information?</label>
        <locationX>1297</locationX>
        <locationY>256</locationY>
        <defaultConnectorLabel>Dont Add</defaultConnectorLabel>
        <rules>
            <name>Add_Information_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Information</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Defaults</targetReference>
            </connector>
            <label>Add Information</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_continue</name>
        <label>Should continue?</label>
        <locationX>2063</locationX>
        <locationY>1182</locationY>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>Yes_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Additional</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Variables</targetReference>
            </connector>
            <label>Yes Continue</label>
        </rules>
    </decisions>
    <description>Adding fault screen</description>
    <dynamicChoiceSets>
        <name>IncomeTypeChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Income_Type__c</picklistField>
        <picklistObject>FinServ__Employment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IndustryOfEmploymentChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry__c</picklistField>
        <picklistObject>FinServ__Employment__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>IncomeTypeFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!EmploymentDetails.Income_Type__c})),&#39;Salaried&#39;,TEXT({!EmploymentDetails.Income_Type__c}))</expression>
    </formulas>
    <formulas>
        <name>IndustryFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!EmploymentDetails.Industry__c})),&#39;ICT&#39;,TEXT({!EmploymentDetails.Industry__c}))</expression>
    </formulas>
    <formulas>
        <name>IndustryOfEmploymentFormula</name>
        <dataType>String</dataType>
        <expression>IF(IsBlank(Text({!AccountRecord.Industry_of_Employment__pc})), &#39;None&#39; , TEXT({!AccountRecord.Industry_of_Employment__pc}))</expression>
    </formulas>
    <formulas>
        <name>LengthOfEmploymentCalc</name>
        <dataType>Boolean</dataType>
        <expression>FLOOR ((TODAY() - {!SelectedEmploymentRecord.FinServ__StartDate__c})/ 365) &lt; 1</expression>
    </formulas>
    <formulas>
        <name>LengthOfSelfEmploymentCalc</name>
        <dataType>Boolean</dataType>
        <expression>FLOOR ((TODAY() - {!SelectedEmploymentRecord.Date_of_Incorporation__c})/ 365) &lt; 1</expression>
    </formulas>
    <formulas>
        <name>YesterDayFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY() + (-1)</expression>
    </formulas>
    <interviewLabel>JNEmploymentDetailsSubflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JNEmploymentDetailsSubflow</label>
    <loops>
        <name>Queried_Employment_Loop</name>
        <label>Queried Employment Loop</label>
        <locationX>779</locationX>
        <locationY>391</locationY>
        <assignNextValueToReference>EmploymentDetails</assignNextValueToReference>
        <collectionReference>EmploymentDetailsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Name_Id_Selection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Employment_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Record_Type_Loop</name>
        <label>Record Type Loop</label>
        <locationX>526</locationX>
        <locationY>880</locationY>
        <assignNextValueToReference>RecordTYpeLoop</assignNextValueToReference>
        <collectionReference>RecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RecordType_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RecordTYPE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Select_Employment_Detail_Loop</name>
        <label>Select Employment Detail Loop</label>
        <locationX>1371</locationX>
        <locationY>974</locationY>
        <assignNextValueToReference>EmploymentDetails</assignNextValueToReference>
        <collectionReference>EmploymentDetailsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_selected_employment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Employment_Screen_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Employment</name>
        <label>Create Employment</label>
        <locationX>2950</locationX>
        <locationY>624</locationY>
        <faultConnector>
            <targetReference>Fault_messageEmployment</targetReference>
        </faultConnector>
        <inputReference>SelectedEmploymentRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetEmploymentDetials</name>
        <label>Get Employment Details</label>
        <locationX>778</locationX>
        <locationY>640</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queried_Employment_Loop</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeBtn.selectedValue</elementReference>
            </value>
        </filters>
        <object>FinServ__Employment__c</object>
        <outputReference>EmploymentDetailsList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FinServ__StartDate__c</queriedFields>
        <queriedFields>FinServ__EndDate__c</queriedFields>
        <queriedFields>Industry__c</queriedFields>
        <queriedFields>Time_in_Industry__c</queriedFields>
        <queriedFields>City_Town__c</queriedFields>
        <queriedFields>Street_1__c</queriedFields>
        <queriedFields>Street_2__c</queriedFields>
        <queriedFields>Street_3__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Current_Employment__c</queriedFields>
        <queriedFields>Position__c</queriedFields>
        <queriedFields>Post_Office_Zip_Code__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Province_Parish_State__c</queriedFields>
        <queriedFields>Income_Type__c</queriedFields>
        <queriedFields>Type_of_Business__c</queriedFields>
        <queriedFields>Salaried__c</queriedFields>
        <queriedFields>FinServ__AnnualIncome__c</queriedFields>
        <queriedFields>Assessment_of_Business__c</queriedFields>
        <queriedFields>Assessment_of_Statement__c</queriedFields>
        <queriedFields>Assessment_of_Business_Working_Capita__c</queriedFields>
        <queriedFields>Business_Number_1__c</queriedFields>
        <queriedFields>Business_Number_2__c</queriedFields>
        <queriedFields>Date_of_Incorporation__c</queriedFields>
        <queriedFields>FinServ__EmployerAddress__c</queriedFields>
        <queriedFields>Residential_Area_District__c</queriedFields>
        <queriedFields>FinServ__Position__c</queriedFields>
        <queriedFields>Length_of_Trade__c</queriedFields>
        <queriedFields>Nature_of_Engagement__c</queriedFields>
        <queriedFields>FinServ__EmploymentStatus__c</queriedFields>
        <queriedFields>Professional_Category__c</queriedFields>
        <queriedFields>Time_Employed_in_Present_Industry_Months__c</queriedFields>
        <queriedFields>FinServ__Occupation__c</queriedFields>
        <queriedFields>Name_of_Previous_Employer__c</queriedFields>
        <queriedFields>Position_Previously_Held__c</queriedFields>
        <queriedFields>Street_1_prev__c</queriedFields>
        <queriedFields>Street_2_prev__c</queriedFields>
        <queriedFields>Street_3_prev__c</queriedFields>
        <queriedFields>City_Town_prev__c</queriedFields>
        <queriedFields>Residential_Area_District_prev__c</queriedFields>
        <queriedFields>Province_Parish_State_prev__c</queriedFields>
        <queriedFields>Post_Office_Zip_Code_prev__c</queriedFields>
        <queriedFields>Country_prev__c</queriedFields>
        <queriedFields>Industry_prev__c</queriedFields>
        <queriedFields>Professional_Category_prev__c</queriedFields>
        <queriedFields>Business_Number_1_prev__c</queriedFields>
        <queriedFields>Business_Number_2_prev__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetEmploymentRecordType</name>
        <label>Get Employment RecordTypes</label>
        <locationX>518</locationX>
        <locationY>694</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_Loop</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FinServ__Employment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_employment</name>
        <label>Update Employment</label>
        <locationX>2726</locationX>
        <locationY>738</locationY>
        <faultConnector>
            <targetReference>Fault_messageEmployment</targetReference>
        </faultConnector>
        <inputReference>SelectedEmploymentRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Available_Employment_Details</name>
        <label>Available Employment Details</label>
        <locationX>1196</locationX>
        <locationY>765</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Employment_Detail_Loop</targetReference>
        </connector>
        <fields>
            <name>indicator3</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>EmploymentDetailsStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text4</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Employment Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>availableEmploymentBtn</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>NamesList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>IdList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Listed below are all your current records, please select one to make a  edit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employment_Details</name>
        <label>Employment Details</label>
        <locationX>1802</locationX>
        <locationY>773</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Employment_Details_Assignment</targetReference>
        </connector>
        <fields>
            <name>indicator2</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>EmploymentDetailsStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(52, 152, 219); font-size: 14px;&quot;&gt;Person Employment Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name_of_Current_Employer</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Name</elementReference>
            </defaultValue>
            <fieldText>Name of Current Employer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Name_of_Current_Employer}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Current_Employment</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Current_Employment__c</elementReference>
            </defaultValue>
            <fieldText>Current Employment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Position_Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.FinServ__Position__c</elementReference>
            </defaultValue>
            <fieldText>Position / Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 50 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Position_Title}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>EmployedStatus_employed</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Employment Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>FinServ__EmploymentStatus__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>EmploymentStatusDefault</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Professional_Category</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Professional Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Professional_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>ProfessionalCategoryDefault</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.FinServ__StartDate__c</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Start Date cannot be a future date.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Start_Date} &lt; TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.FinServ__EndDate__c</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;End Date cannot be a future date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!End_Date} &lt; TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Industry_employed</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Industry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Industry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>EmployedRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>IndustryDefault</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Time_Employed_in_Present_Industry_Years</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Time_in_Industry__c</elementReference>
            </defaultValue>
            <fieldText>Time Employed in Present Industry (Years)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Time_Employed_in_Present_Industry_Months</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Time_in_Industry__c</elementReference>
            </defaultValue>
            <fieldText>Time Employed in Present Industry (Months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Occupation_employed</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Occupation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>FinServ__Occupation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>OccupationDefault</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Business_number</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Business Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>SelectedEmploymentRecord.Business_Number_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>business_number2</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Business Number 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>SelectedEmploymentRecord.Business_Number_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Street_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Street_1__c</elementReference>
            </defaultValue>
            <fieldText>Street 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Street_1}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Street_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Street_2__c</elementReference>
            </defaultValue>
            <fieldText>Street 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Street_2}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Street_3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Street_3__c</elementReference>
            </defaultValue>
            <fieldText>Street 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Street_3}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>City_Town</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.City_Town__c</elementReference>
            </defaultValue>
            <fieldText>City Town</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!City_Town}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Residential_Area_District</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Residential_Area_District__c</elementReference>
            </defaultValue>
            <fieldText>Residential Area/ District</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Post_Office_Zip_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Post_Office_Zip_Code__c</elementReference>
            </defaultValue>
            <fieldText>Post Office / Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Post_Office_Zip_Code}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Province</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Province_Parish_State__c</elementReference>
            </defaultValue>
            <fieldText>Province / State / Parish</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Province}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Country_employed</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Country</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>CountryDefault</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Empty_Employment_Details</name>
        <label>Empty Employment Details</label>
        <locationX>1058</locationX>
        <locationY>300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Should_add_information</targetReference>
        </connector>
        <fields>
            <name>indicator4</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>EmploymentDetailsStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text5</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Employment Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text6</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(52, 152, 219);&quot;&gt;Sorry, it seems there are no records available for that employment type. Do you want to add such information?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Information</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NoChoice</defaultSelectedChoiceReference>
            <fieldText>Add Information?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_messageEmployment</name>
        <label>Fault Message</label>
        <locationX>3073</locationX>
        <locationY>856</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FInal_Screen</name>
        <label>FInal Screen</label>
        <locationX>2329</locationX>
        <locationY>1180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Should_continue</targetReference>
        </connector>
        <fields>
            <name>indicator5</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text8</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Employment Details End&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text9</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(52, 152, 219);&quot;&gt;Do you want to add more employment records to your account?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Additional</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NoChoice</defaultSelectedChoiceReference>
            <fieldText>Add Additional?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Previous_Employment_Screen</name>
        <label>Previous Employment Screen</label>
        <locationX>2158</locationX>
        <locationY>851</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_of_Variables_for_Previous_Employment</targetReference>
        </connector>
        <fields>
            <name>PreviousEmployment</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Please enter the details of your Previous Employment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name_of_Previous_Employer</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PreviousEmployerNameDefault</elementReference>
            </defaultValue>
            <fieldText>Name of Previous Employer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Position_Held</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PositionDefault</elementReference>
            </defaultValue>
            <fieldText>Position Held</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ProfessionalCategory_prev</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Professional Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Professional_Category_prev__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>EmployedRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>ProfessionalCategoryDefault</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Industry_prev</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Industry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Industry_prev__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>EmployedRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>IndustryDefault</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Street_1_prev</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Street1Default</elementReference>
            </defaultValue>
            <fieldText>Street 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Street_2_prev</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Street2Default</elementReference>
            </defaultValue>
            <fieldText>Street 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Street_3_prev</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Street3Default</elementReference>
            </defaultValue>
            <fieldText>Street 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City_Town_prev</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CityTownDefault</elementReference>
            </defaultValue>
            <fieldText>City/Town</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Residential_Area_District_prev</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ResidentialAreaDistrictDefault</elementReference>
            </defaultValue>
            <fieldText>Residential Area/District</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Post_Office_Zip_Code_prev</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PostOfficeZipCodeDefault</elementReference>
            </defaultValue>
            <fieldText>Post Office/Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Province_Parish_State_prev</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ProvinceParishStateDefault</elementReference>
            </defaultValue>
            <fieldText>Province/Parish/State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country_prev</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Country</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Country_prev__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>EmployedRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>CountryDefault</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessNumber1_prev</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Business Number 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>BusinessNumber1Default</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessNumber2_prev</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Business Number 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>BusinessNumber2Default</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Previous_Employment_Screen_self</name>
        <label>Previous Employment Screen Self</label>
        <locationX>2501</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_of_Variables_for_Previous_Employment_0</targetReference>
        </connector>
        <fields>
            <name>PreviousEmployment_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Please enter the details of your Previous Employment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name_of_Previous_Employer_self</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PreviousEmployerNameDefault</elementReference>
            </defaultValue>
            <fieldText>Name of Previous Employer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Position_Held_self</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PositionDefault</elementReference>
            </defaultValue>
            <fieldText>Position Held</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ProfessionalCategory_prev_self</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>ProfessionalCategory</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Professional_Category_prev__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>EmployedRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>ProfessionalCategoryDefault</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Industry_prev_self</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Industry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Industry_prev__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>EmployedRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>IndustryDefault</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Street_1_prev_self</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Street1Default</elementReference>
            </defaultValue>
            <fieldText>Street 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Street_2_prev_self</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Street2Default</elementReference>
            </defaultValue>
            <fieldText>Street 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Street_3_prev_self</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Street3Default</elementReference>
            </defaultValue>
            <fieldText>Street 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City_Town_prev_self</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CityTownDefault</elementReference>
            </defaultValue>
            <fieldText>City/Town</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Residential_Area_District_prev_self</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ResidentialAreaDistrictDefault</elementReference>
            </defaultValue>
            <fieldText>Residential Area/District</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Post_Office_Zip_Code_prev_self</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PostOfficeZipCodeDefault</elementReference>
            </defaultValue>
            <fieldText>Post Office/Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Province_Parish_State_prev_self</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ProvinceParishStateDefault</elementReference>
            </defaultValue>
            <fieldText>Province/Parish/State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country_prev_self</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Country</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Country_prev__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>EmployedRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>CountryDefault</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessNumber1_prev_self</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Business Number 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>BusinessNumber1Default</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessNumber2_prev_self</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Business Number 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>BusinessNumber2Default</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RecordTYPE</name>
        <label>RecordTYPE</label>
        <locationX>776</locationX>
        <locationY>924</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetEmploymentDetials</targetReference>
        </connector>
        <fields>
            <name>indicator1</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>EmploymentDetailsStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(52, 152, 219); background-color: rgb(255, 255, 255);&quot;&gt;Person Employment Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>recordTypeBtn</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>RecordTypeDeveloperNameList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>RecordTypesIdList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Select Type of Employment</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Self Employed Screen Screen</description>
        <name>Self_Employed_Screen</name>
        <label>Self Employed Screen</label>
        <locationX>1812</locationX>
        <locationY>322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Self_Employed_Assignment</targetReference>
        </connector>
        <fields>
            <name>SelfEmployed_Display_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Enter the details about your Self-Employment&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name_of_Business_SELF</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Name</elementReference>
            </defaultValue>
            <fieldText>Name of Business</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot exceed a length of 40 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Name_of_Business_SELF}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Current_Employment_self</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Current_Employment__c</elementReference>
            </defaultValue>
            <fieldText>Current Employment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_Of_Business_SELF</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Type of Business</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Type_of_Business__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>TypeBusinessDefault</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>SelfEmployedRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Date_of_Incorporation_SELF</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Date_of_Incorporation__c</elementReference>
            </defaultValue>
            <fieldText>Date of Incorporation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Date of Incorporation cannot be a future date.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Date_of_Incorporation_SELF} &lt;= TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Industry_self</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Industry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Industry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>IndustryDefault</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Time_Employed_in_Present_Industry_Years_SELF</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Time_in_Industry__c</elementReference>
            </defaultValue>
            <fieldText>Time Employed in Present Industry (Years)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Time_Employed_in_Present_Industry_Months_SELF</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Time_Employed_in_Present_Industry_Months__c</elementReference>
            </defaultValue>
            <fieldText>Time Employed in Present Industry (Months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Nature_of_Engagement_Self</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Nature of Engagement</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Nature_of_Engagement__c </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>NatureEngagementDefault</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>SelfEmployedRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Length_Of_trade_SELF</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Length of Trade</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Length_of_Trade__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>LengthTradeDefault</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>SelfEmployedRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Street_1_SELF</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Street_1__c</elementReference>
            </defaultValue>
            <fieldText>Street 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot exceed a length of 40 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Street_1_SELF}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Street_2_SELF</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Street_2__c</elementReference>
            </defaultValue>
            <fieldText>Street 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot exceed a length of 40 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Street_2_SELF}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Street_3_SELF</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Street_3__c</elementReference>
            </defaultValue>
            <fieldText>Street 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot exceed a length of 40 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Street_3_SELF}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>City_Town_SELF</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Street_3__c</elementReference>
            </defaultValue>
            <fieldText>City/Town</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot exceed a length of 40 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!City_Town_SELF}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Residential_Area_District_SELF</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Residential_Area_District__c</elementReference>
            </defaultValue>
            <fieldText>Residential Area/ District</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot exceed a length of 40 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Residential_Area_District_SELF}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Post_Office_Zip_Code_SELF</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Post_Office_Zip_Code__c</elementReference>
            </defaultValue>
            <fieldText>Post Office/Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot exceed a length of 40 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Post_Office_Zip_Code_SELF}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Province_Parish_State_SELF</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Province_Parish_State__c</elementReference>
            </defaultValue>
            <fieldText>Province/Parish/State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot exceed a value of 40 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Province_Parish_State_SELF}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Country_0</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Country</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>CountryDefault</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Business_Number_SELF</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Business Number 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>SelectedEmploymentRecord.Business_Number_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Business_number_2SELF</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Business Number 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>SelectedEmploymentRecord.Business_Number_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Assessment_Business</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Assessment_of_Business__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>SelfEmployedRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>AssessmentBusinessDefault</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Assessment of Business Financial Performance</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Assessment_Business_Statement</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Assessment_of_Statement__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>SelfEmployedRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Assessment of Business Financial Statement</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>AssessmentOfBusinessStatementDefault</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Assessment_Business_Working_Capital</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Assessment_of_Business_Working_Capita__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>SelfEmployedRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Assessment Of Business Working Capital</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>AssessmentOfBusinessWorkingCapitalDefault</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Unemployment Screen</description>
        <name>Unemployed_screen</name>
        <label>Unemployed Screen</label>
        <locationX>1726</locationX>
        <locationY>1005</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Unemployed_Assignment</targetReference>
        </connector>
        <fields>
            <name>Unemployed_Display_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(52, 152, 219); font-size: 14px;&quot;&gt;Enter the details about your Last Employment &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Last_Position_Held_UN</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.FinServ__Position__c</elementReference>
            </defaultValue>
            <fieldText>Last Position Held</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Cannot exceed a length of 50 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Last_Position_Held_UN}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>was_this_your_last_Job</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Current_Employment__c</elementReference>
            </defaultValue>
            <fieldText>Are you still currently unemployed?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Name_of_Previous_Employer_UN</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Name</elementReference>
            </defaultValue>
            <fieldText>Name of Previous Employer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot exceed a length of 40 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Name_of_Previous_Employer_UN}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Industry_UN</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Industry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Industry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>IndustryDefault</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ProfessionalCategory_unemployed</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Professional Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Professional_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>ProfessionalCategoryDefault</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Street_1_UN</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Street_1__c</elementReference>
            </defaultValue>
            <fieldText>Street 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Street_1_UN}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Street_2_UN</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Street_2__c</elementReference>
            </defaultValue>
            <fieldText>Street 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Street_2_UN}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Street_3_UN</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Street_3__c</elementReference>
            </defaultValue>
            <fieldText>Street 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Street_3_UN}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>City_Town_UN</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.City_Town__c</elementReference>
            </defaultValue>
            <fieldText>City/Town</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!City_Town_UN}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Post_Office_Zip_Code_UN</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Post_Office_Zip_Code__c</elementReference>
            </defaultValue>
            <fieldText>Post Office/Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Post_Office_Zip_Code_UN}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Residential_Area_District_UN</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Residential_Area_District__c</elementReference>
            </defaultValue>
            <fieldText>Residential Area/ District</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Residential_Area_District_UN}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Province_Parish_State_UN</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedEmploymentRecord.Province_Parish_State__c</elementReference>
            </defaultValue>
            <fieldText>Province/Parish/State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Province_Parish_State_UN}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Country</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Country</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectSelected</name>
                <value>
                    <elementReference>Country_Unemployed_Variable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>FinServ__Employment__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Business_Number_UN</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Business Number 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>SelectedEmploymentRecord.Business_Number_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Business_number_2UN</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Business Number 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>SelectedEmploymentRecord.Business_Number_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>240</locationX>
        <locationY>694</locationY>
        <connector>
            <targetReference>GetEmploymentRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AssessmentBusinessDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssessmentOfBusinessStatementDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssessmentOfBusinessWorkingCapitalDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessNumber1Default</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessNumber2Default</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CityTownDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the country unemployed variable</description>
        <name>Country_Unemployed_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SelectedEmploymentRecord.Country__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>The Country Variable Assignment</description>
        <name>Country_variable_assignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SelectedEmploymentRecord.Country__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>CountryDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployedRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmploymentDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__Employment__c</objectType>
    </variables>
    <variables>
        <name>EmploymentDetailsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__Employment__c</objectType>
    </variables>
    <variables>
        <name>EmploymentDetailsStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Employment Details</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmploymentForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__Employment__c</objectType>
    </variables>
    <variables>
        <name>EmploymentStatusDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ids for employment details</description>
        <name>IdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Self Employed variable to store income type</description>
        <name>income_selfemployedpicklist_variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SelectedEmploymentRecord.Income_Type__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>The income type variable</description>
        <name>Income_type_Unemployed_variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SelectedEmploymentRecord.Income_Type__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>IncomeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncomeType_employedpicklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>industry_self_employment</description>
        <name>industry_self_emploment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SelectedEmploymentRecord.Industry__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>IndustryDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Industrytype_unemployedvariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SelectedEmploymentRecord.Industry__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>length of trade self employment variable</description>
        <name>lengthoftrade_Self</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SelectedEmploymentRecord.Length_of_Trade__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>LengthTradeDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>contains all the employment info names</description>
        <name>NamesList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NatureEngagementDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>nature of engagement self-employed picklist</description>
        <name>natureofenegament_self_employed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SelectedEmploymentRecord.Nature_of_Engagement__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>OccupationDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PositionDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PostOfficeZipCodeDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreviousEmployerNameDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreviousEmploymentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__Employment__c</objectType>
    </variables>
    <variables>
        <name>ProfessionalCategoryDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProvinceParishStateDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeDeveloperNameList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTYpeLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>RecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>RecordTypesIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResidentialAreaDistrictDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedEmploymentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__Employment__c</objectType>
    </variables>
    <variables>
        <name>SelfEmployedRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street1Default</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street2Default</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street3Default</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypeBusinessDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Self Employment type of business</description>
        <name>TypeofBusiness_selfemployment_variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SelectedEmploymentRecord.Type_of_Business__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>UnEmployedRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
