force-app/main/default/flows/JNEmergencyContactSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Mock_Accounts</name>
        <label>Mock Accounts</label>
        <locationX>1372</locationX>
        <locationY>432</locationY>
        <actionName>EmergencyContactsMockupAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Needed_Emergency_Contacts_Loop</targetReference>
        </connector>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>Number_of_Contacts</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>NeededEmergencyContactsToSave</assignToReference>
            <name>recordsToSave</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>MockedContacts</assignToReference>
            <name>records</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Save_Contacts</name>
        <label>Save Contacts</label>
        <locationX>1613</locationX>
        <locationY>378</locationY>
        <actionName>EmergencyContactSaveAction</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>accountIds</name>
            <value>
                <elementReference>PersonContactIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountsToSave</name>
            <value>
                <elementReference>NeededEmergencyContactsToSave</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Search_Contacts</name>
        <label>Search Contacts</label>
        <locationX>1986</locationX>
        <locationY>1127</locationY>
        <actionName>EmergencyContactsSearchAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Should_Create_Account</targetReference>
        </connector>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>Person_Last_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mobile</name>
            <value>
                <elementReference>PersonMobileNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>Person_First_Name</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SearchContactsSize</assignToReference>
            <name>size</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SearchContactsId</assignToReference>
            <name>ids</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SearchContactsNames</assignToReference>
            <name>names</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Contacts</name>
        <label>Assign Contacts</label>
        <locationX>1614</locationX>
        <locationY>1164</locationY>
        <assignmentItems>
            <assignToReference>NeededEmergencyContactsToSave</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmergencyAccountRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Needed_Emergency_Contacts_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ContactToContact_Id</name>
        <label>Assign ContactToContact Id</label>
        <locationX>206</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>EmergencyContactIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactToContactRecord.FinServ__RelatedContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyContactCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Contact_Iteration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Person_Ids</name>
        <label>Assign Account Ids</label>
        <locationX>2397</locationX>
        <locationY>819</locationY>
        <assignmentItems>
            <assignToReference>PersonContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmergencyContactBtnCollection.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Needed_Emergency_Contacts_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Emergency_Contact_Details_Assignment</name>
        <label>Emergency Contact Details Assignment</label>
        <locationX>1614</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>EmergencyAccountRecord.Street_1__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street1_ec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyAccountRecord.Street_2__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street2_ec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyAccountRecord.Street_3__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street3_ec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyAccountRecord.City_Town__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CityTown_ec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyAccountRecord.Post_Office_Zip_Code__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PostOffice_ec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyAccountRecord.Residential_Area_District__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidentialArea_ec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyAccountRecord.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyAccountRecord.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobileNumber_ec.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyAccountRecord.Business_Phone__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessNumber_ec.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyAccountRecord.PersonHomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HomeNumber_ec.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyAccountRecord.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_ec.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyAccountRecord.Emergency_Contact_Relationship__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmergencyContact_Relationship.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyAccountRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PersonAccountRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyAccountRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyAccountRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyAccountRecord.Province_Parish_State__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Province_Parish_State_ec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Should_Continue</name>
        <label>Should Continue</label>
        <locationX>1274</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>ShouldContinueEmergencyContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmergencyContactCoutConfirmation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>no</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>check if any emergency contacts were found</description>
        <name>Check_Emergency_Contacts_Existence</name>
        <label>Check Emergency Contacts Existence</label>
        <locationX>1034</locationX>
        <locationY>1006</locationY>
        <defaultConnector>
            <targetReference>HowManyContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contacts Not Found</defaultConnectorLabel>
        <rules>
            <name>Contacts_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmergencyContactsCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Contact_Iteration</targetReference>
            </connector>
            <label>Contacts Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contacts_greater_than_0</name>
        <label>Contacts greater than 0</label>
        <locationX>1068</locationX>
        <locationY>437</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Greater_than</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Contacts</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mock_Accounts</targetReference>
            </connector>
            <label>Yes Greater than</label>
        </rules>
    </decisions>
    <decisions>
        <name>Num_of_Contacts_Less_Than_2</name>
        <label>Num of Contacts Less Than 2</label>
        <locationX>1158</locationX>
        <locationY>810</locationY>
        <defaultConnector>
            <targetReference>Contacts_greater_than_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MInimum Met</defaultConnectorLabel>
        <rules>
            <name>Minimum_Not_Met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactsNeeded</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Number_of_Contacts</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>ContactsNeeded</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Should_Continue</targetReference>
            </connector>
            <label>Minimum Not Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_add_more_contact</name>
        <label>Should add more contact?</label>
        <locationX>781</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>Num_of_Contacts_Less_Than_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Add</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DecisionMoreContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HowManyContacts</targetReference>
            </connector>
            <label>Yes Add More</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_Account</name>
        <label>Should Create Account</label>
        <locationX>2162</locationX>
        <locationY>1129</locationY>
        <defaultConnector>
            <targetReference>Emergency_Contact_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dont Create</defaultConnectorLabel>
        <rules>
            <name>Create_this_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchContactsSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmergencyContact_AdditionalDetails</targetReference>
            </connector>
            <label>Create this Account</label>
        </rules>
    </decisions>
    <description>The added decision when a number of contacts were inputted.</description>
    <formulas>
        <name>ContactsNeeded</name>
        <dataType>Number</dataType>
        <expression>FLOOR (2 - {!EmergencyContactCount})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>EmergencyContactCountText</name>
        <dataType>String</dataType>
        <expression>TEXT({!EmergencyContactCount})</expression>
    </formulas>
    <interviewLabel>JNEmergencyContactSubflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JNEmergencyContactSubflow</label>
    <loops>
        <name>Contact_Contact_Iteration</name>
        <label>Contact-Contact Iteration</label>
        <locationX>423</locationX>
        <locationY>1093</locationY>
        <assignNextValueToReference>ContactToContactRecord</assignNextValueToReference>
        <collectionReference>EmergencyContactsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ContactToContact_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Emergency_Contact_List_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Needed_Emergency_Contacts_Loop</name>
        <label>Needed Emergency Contacts Loop</label>
        <locationX>1614</locationX>
        <locationY>811</locationY>
        <assignNextValueToReference>EmergencyContactLoopVariable</assignNextValueToReference>
        <collectionReference>MockedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Emergency_Contact_Creation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_emergency_contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_emergency_contacts</name>
        <label>Create emergency contacts</label>
        <locationX>1612</locationX>
        <locationY>558</locationY>
        <connector>
            <targetReference>Save_Contacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputReference>NeededEmergencyContactsToSave</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get  Account Record</label>
        <locationX>220</locationX>
        <locationY>1345</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PersonAccount_RecordType_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>Emergency_Contact_First_Name__pc</queriedFields>
        <queriedFields>Emergency_Contact_Last_Name__pc</queriedFields>
        <queriedFields>Street_1__pc</queriedFields>
        <queriedFields>Street_2__pc</queriedFields>
        <queriedFields>Street_3__pc</queriedFields>
        <queriedFields>City_Town__pc</queriedFields>
        <queriedFields>Residential_Area_District__pc</queriedFields>
        <queriedFields>Post_Office_Zip_Code__pc</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Mobile_Number__pc</queriedFields>
        <queriedFields>Home_Number__c</queriedFields>
        <queriedFields>Business_Number__pc</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>Emergency_Contact_Relationship__pc</queriedFields>
        <queriedFields>Province_Parish_State__pc</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Emergency_Contact</name>
        <label>Get Emergency Contact Relationships</label>
        <locationX>823</locationX>
        <locationY>1253</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Emergency_Contacts_Existence</targetReference>
        </connector>
        <filters>
            <field>FinServ__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecord.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReciprocalRoleRecord.Id</elementReference>
            </value>
        </filters>
        <object>FinServ__ContactContactRelation__c</object>
        <outputReference>EmergencyContactsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FinServ__Role__c</queriedFields>
        <queriedFields>FinServ__RelatedContact__c</queriedFields>
        <queriedFields>FinServ__Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PersonAccount_RecordType_Id</name>
        <label>Get PersonAccount RecordType Id</label>
        <locationX>458</locationX>
        <locationY>1249</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reciprocal_Role</targetReference>
        </connector>
        <filters>
            <field>IsPersonType</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PersonAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Reciprocal_Role</name>
        <label>Get Reciprocal Role</label>
        <locationX>644</locationX>
        <locationY>1378</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Emergency_Contact</targetReference>
        </connector>
        <filters>
            <field>FinServ__InverseRole__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Emergency Contact Dependent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Emergency Contact</stringValue>
            </value>
        </filters>
        <object>FinServ__ReciprocalRole__c</object>
        <outputReference>ReciprocalRoleRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FinServ__InverseRole__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Emergency_Contact_Creation</name>
        <label>Emergency Contact Creation</label>
        <locationX>1988</locationX>
        <locationY>612</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Contacts</targetReference>
        </connector>
        <fields>
            <name>indicator2</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>EmergencyContactStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(52, 152, 219); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Person Emergency Contacts&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NoEmergencyContactText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Please enter the following information to add a emergency contact&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Person_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Person First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot exceed a length of 40 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Person_First_Name}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Person_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Person Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot exceed a length of 40 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Person_Last_Name}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>PersonMobile</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PersonMobileNumber</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Emergency_Contact_List_Selection</name>
        <label>Emergency Contact List Selection</label>
        <locationX>564</locationX>
        <locationY>726</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Should_add_more_contact</targetReference>
        </connector>
        <fields>
            <name>indicator1</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>EmergencyContactStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Person Emergency Contacts&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GoldSupport</name>
            <extensionName>c:JNEmergencyContacts</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contactIds</name>
                <value>
                    <elementReference>EmergencyContactIdCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>The following are your current emergency contacts, do you want to add another?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CurrentEmergencyContact</assignToReference>
                <name>contact</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DecisionMoreContacts</name>
            <choiceReferences>no</choiceReferences>
            <choiceReferences>yes</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>no</defaultSelectedChoiceReference>
            <fieldText>Decision</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Emergency_Contact_Selection</name>
        <label>Emergency Contact Selection</label>
        <locationX>2397</locationX>
        <locationY>1123</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Person_Ids</targetReference>
        </connector>
        <fields>
            <name>indicator3</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>EmergencyContactStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Person Emergency Contacts&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmergencyContactBtnCollection</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>SearchContactsNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>SearchContactsId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Please select one of the following as an emergency contact</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EmergencyContact_AdditionalDetails</name>
        <label>EmergencyContact_AdditionalDetails</label>
        <locationX>2173</locationX>
        <locationY>1416</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Emergency_Contact_Details_Assignment</targetReference>
        </connector>
        <fields>
            <name>EmergencyContactCreation_indicator</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>EmergencyContactStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EmergencyContact</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(52, 152, 219); font-size: 14px;&quot;&gt;Additional Emergency Contact - Details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Person_First_Name</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Person_Last_Name</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmergencyContact_Relationship</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Emergency_Contact_Relationship__pc</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Relationship to Applicant</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Street1_ec</name>
            <dataType>String</dataType>
            <fieldText>Street 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Street2_ec</name>
            <dataType>String</dataType>
            <fieldText>Street 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Street3_ec</name>
            <dataType>String</dataType>
            <fieldText>Street 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ResidentialArea_ec</name>
            <dataType>String</dataType>
            <fieldText>Residential Area/District</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PostOffice_ec</name>
            <dataType>String</dataType>
            <fieldText>Post Office/Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Province_Parish_State_ec</name>
            <dataType>String</dataType>
            <fieldText>Province/Parish/State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CityTown_ec</name>
            <dataType>String</dataType>
            <fieldText>City/Town</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Country</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MobileNumber_ec</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>PersonMobileNumber</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>HomeNumber_ec</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Home Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessNumber_ec</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Business Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email_ec</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EmergencyContactCoutConfirmation</name>
        <label>EmergencyContactCoutConfirmation</label>
        <locationX>1484</locationX>
        <locationY>986</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Indicator</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>EmergencyContactStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EmergencyContactConfirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Emergency Contact Confirmation&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MinimumNotMet</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(52, 152, 219);&quot;&gt;﻿ You currently have {!EmergencyContactCountText} emergency contact(s) associated with this account. However, to continue, you need at least &lt;/span&gt;&lt;span style=&quot;color: rgb(52, 152, 219); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;{!ContactsNeeded} more emergency contact(s). &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>1791</locationX>
        <locationY>483</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultmessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>HowManyContacts</name>
        <label>How many contacts would you like to add?</label>
        <locationX>764</locationX>
        <locationY>776</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Num_of_Contacts_Less_Than_2</targetReference>
        </connector>
        <fields>
            <name>AdditionalContact_indicator</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>EmergencyContactStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AdditionalEmergencyContacts</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;How many Emergency Contacts would you like to add? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Number_of_Contacts</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>NumberOfContacts</elementReference>
            </defaultValue>
            <fieldText>Number of Contacts</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>1273</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BlankTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRoleRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactToContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactToContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__ContactContactRelation__c</objectType>
    </variables>
    <variables>
        <name>CountryDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentEmergencyContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>EmergencyAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>EmergencyContactAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmergencyContactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EmergencyContactIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmergencyContactLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>EmergencyContactRelationship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>stores all the contact to contact records</description>
        <name>EmergencyContactsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__ContactContactRelation__c</objectType>
    </variables>
    <variables>
        <description>stores the lookup for emergency contacts when searched with first and last name</description>
        <name>EmergencyContactsCreationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>EmergencyContactsNameCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmergencyContactStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Emergency Contacts</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmptyContactCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmptyContactRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingEmergencyContacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MockedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>MockedEmergencyContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NeededEmergencyContactsToSave</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NumberOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonMobileNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReciprocalRoleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__ReciprocalRole__c</objectType>
    </variables>
    <variables>
        <description>id for contact to contact relationship created</description>
        <name>SavedContactToContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedEmergencyAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedEmergencyContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchContactsId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchContactsNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchContactsSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SelectEmergencyContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShouldContinueEmergencyContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
