force-app/main/default/flows/Lead_Record_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Lead Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Record Type : Credit Facility</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead_Record_Id_from_PB</name>
        <label>Get Lead Record Id from PB</label>
        <locationX>362</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_the_Record</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DevName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Record</name>
        <label>Update the Record</label>
        <locationX>185</locationX>
        <locationY>426</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_of_Interest__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JN Bank Commercial Auto Loan</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_of_Interest__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JN Bank Auto Loan</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_of_Interest__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JN Bank 12 to 1 Loan (Supersize Loan)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_of_Interest__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JN Bank Line Of Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_of_Interest__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JN Bank Credit Card</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_of_Interest__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JN Bank Unsecured Loan</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Lead_Record_Id_from_PB</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DeveloperName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewDevName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
