force-app/main/default/flows/One_JN_Opportunity_Event_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Handle_One_JN_Event_Submission</name>
        <label>Handle One JN Event Submission</label>
        <locationX>899</locationX>
        <locationY>1598</locationY>
        <actionName>ONeJNEventSubmissionHandler</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>applicationList</name>
            <value>
                <elementReference>Applications</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventType</name>
            <value>
                <elementReference>eventType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityList</name>
            <value>
                <elementReference>Opportunities</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Application</name>
        <label>Set Application</label>
        <locationX>1502</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Applications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Credit_Card_Pre_Assessment_EventType</name>
        <label>Set Credit Card Pre Assessment EventType</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>eventType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>JNGroup.OneJN.CreditInfo.Domain.Events.CreditCardPreAssessmentEvent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_One_JN_Event_Submission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CreditCardFinal_Assessment_EventType</name>
        <label>Set CreditCardFinal Assessment EventType</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>eventType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>JNGroup.OneJN.CreditInfo.Domain.Events.CreditCardFinalAssessmentEvent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_One_JN_Event_Submission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ManualApprove_EventType</name>
        <label>Set ManualApprove EventType</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>eventType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>JNGroup.OneJN.CreditInfo.Domain.Events.CreateManualDecisionApprovedEvent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_One_JN_Event_Submission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ManualRejected_EventType</name>
        <label>Set ManualRejected EventType</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>eventType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>JNGroup.OneJN.CreditInfo.Domain.Events.CreateManualDecisionRejectEvent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_One_JN_Event_Submission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity</name>
        <label>Set Opportunity</label>
        <locationX>899</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Opportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unsecured_Loan_Final_Assessment_EventType</name>
        <label>Set Unsecured Loan Final Assessment EventType</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>eventType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>JNGroup.OneJN.CreditInfo.Domain.Events.UnsecuredLoanFinalAssessmentEvent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_One_JN_Event_Submission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unsecured_Loan_Pre_Assessment_Event_Type</name>
        <label>Set Unsecured Loan Pre Assessment Event Type</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>eventType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>JNGroup.OneJN.CreditInfo.Domain.Events.UnsecuredLoanPreAssessmentEvent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_One_JN_Event_Submission</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Approved</name>
        <label>Is Approved</label>
        <locationX>1502</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_ManualRejected_EventType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.Adjudication_Decision_picklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ManualApprove_EventType</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Credit_Card</name>
        <label>Is Credit Card Pre Assessment</label>
        <locationX>297</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Is_Unsecured_Loan_Pre_Assessment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Credit Card Pre Assessment</defaultConnectorLabel>
        <rules>
            <name>CreditCardPreAssessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Product_of_Interest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JN Bank Credit Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Rubicon_Path_list__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Assessment Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Credit_Card_Pre_Assessment_EventType</targetReference>
            </connector>
            <label>Credit Card Pre Assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CreditCard_Final_Assessment</name>
        <label>Is CreditCard Final Assessment</label>
        <locationX>776</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Is_Unsecured_Loan_Final_Assessment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Credit Card Final Assessment</defaultConnectorLabel>
        <rules>
            <name>Credit_Card_Final_Assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Product_of_Interest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JN Bank Credit Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Rubicon_Path_list__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Assessment Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CreditCardFinal_Assessment_EventType</targetReference>
            </connector>
            <label>Credit Card Final Assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Unsecured_Loan_Final_Assessment</name>
        <label>Is Unsecured Loan Final Assessment</label>
        <locationX>974</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Not Unsecured Loan Final Assessment</defaultConnectorLabel>
        <rules>
            <name>Unsecured_Loan_Final_Assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Product_of_Interest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JN Bank Unsecured Loan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Rubicon_Path_list__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Assessment Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Unsecured_Loan_Final_Assessment_EventType</targetReference>
            </connector>
            <label>Unsecured Loan Final Assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Unsecured_Loan_Pre_Assessment</name>
        <label>Is Unsecured Loan Pre Assessment</label>
        <locationX>545</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Is_CreditCard_Final_Assessment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Unsecured Loan Pre Assessment</defaultConnectorLabel>
        <rules>
            <name>UnsecuredLoanPreAssessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Product_of_Interest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JN Bank Unsecured Loan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Rubicon_Path_list__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Assessment Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Unsecured_Loan_Pre_Assessment_Event_Type</targetReference>
            </connector>
            <label>Unsecured Loan Pre Assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Record</name>
        <label>Opportunity Record</label>
        <locationX>899</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Application</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.RecordType.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Credit_Card</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <interviewLabel>One JN Opportunity Event Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>One JN Event Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>1502</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>899</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>773</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Applications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>eventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>JNGroup.OneJN.CreditInfo.Domain.Events.CreditCardPreAssessmentEvent</stringValue>
        </value>
    </variables>
    <variables>
        <name>Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
