force-app/main/default/flows/One_JN_Input_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Handle_One_JN_Input_Event</name>
        <label>Handle One JN Input Event</label>
        <locationX>176</locationX>
        <locationY>314</locationY>
        <actionName>OneJNOutputEventHandler</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Record.Body__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventType</name>
            <value>
                <elementReference>$Record.Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalId</name>
            <value>
                <elementReference>$Record.ExternalId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sfRecordId</name>
            <value>
                <elementReference>$Record.SfRecordId__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <description>One JN Input Event listener</description>
    <interviewLabel>One JN Input Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>One JN Input Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>One_Jn_Event</name>
        <label>One Jn Event</label>
        <locationX>176</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>Handle_One_JN_Input_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Body__c</field>
            <value>
                <elementReference>$Record.Body__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Source__c</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Record_Id__c</field>
            <value>
                <elementReference>$Record.ExternalId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>$Record.Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_Record_Id__c</field>
            <value>
                <elementReference>$Record.SfRecordId__c</elementReference>
            </value>
        </inputAssignments>
        <object>OneJN_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>One_Jn_Event</targetReference>
        </connector>
        <object>One_JN_Input__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>eventtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue
      >JNGroup.OneJN.CreditInfo.Domain.Events.GetApplicationIdResponseEvent</stringValue>
        </value>
    </variables>
</Flow>
