force-app/main/default/flows/PersonInformationSubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Account_Id_Assignment</name>
        <label>Account Id Assignment</label>
        <locationX>784</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>AccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountLookupLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>appends all the account record names</description>
        <name>AccountNames</name>
        <label>Account Names Assignment</label>
        <locationX>1077</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>AccountNamesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Id_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Variables</name>
        <label>Reset Variables</label>
        <locationX>799</locationX>
        <locationY>11</locationY>
        <assignmentItems>
            <assignToReference>AccountIdCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BlankTextCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountNamesCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BlankTextCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountLookupLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if any related account information was found</description>
        <name>CheckAccountLookup</name>
        <label>CheckAccountLookup</label>
        <locationX>569</locationX>
        <locationY>12</locationY>
        <defaultConnector>
            <targetReference>Get_PersonAccount_RecordTypeId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Not Found</defaultConnectorLabel>
        <rules>
            <name>AccountFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Variables</targetReference>
            </connector>
            <label>AccountFound</label>
        </rules>
    </decisions>
    <description>testing trn2</description>
    <dynamicChoiceSets>
        <name>AccountChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>PersonInformationSubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PersonInformationSubFlow</label>
    <loops>
        <description>loop over all the accounts found</description>
        <name>AccountLookupLoop</name>
        <label>AccountLookupLoop</label>
        <locationX>963</locationX>
        <locationY>153</locationY>
        <assignNextValueToReference>AccountRecord</assignNextValueToReference>
        <collectionReference>AccountRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AccountNames</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Account_Record_Assignment_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates the person account with first and last name</description>
        <name>CreatePersonAccount</name>
        <label>CreatePersonAccount</label>
        <locationX>408</locationX>
        <locationY>273</locationY>
        <assignRecordIdToReference>AccountId</assignRecordIdToReference>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Person_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jamaican_Tax_Registration_Number__pc</field>
            <value>
                <elementReference>Tax_Registration_Number_TRN_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Person_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PersonAccountRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Get_PersonAccount_RecordTypeId</name>
        <label>Get PersonAccount RecordTypeId</label>
        <locationX>699</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreatePersonAccount</targetReference>
        </connector>
        <filters>
            <field>IsPersonType</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>PersonAccountRecordTypeId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Lookup account first and last names</description>
        <name>LookupAccountRecords</name>
        <label>LookupAccountRecords</label>
        <locationX>358</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckAccountLookup</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Person_First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Person_Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Jamaican_Tax_Registration_Number__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tax_Registration_Number_TRN_Text</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <description>looks up whether the user account exists</description>
        <name>Account_lookup</name>
        <label>Account lookup</label>
        <locationX>186</locationX>
        <locationY>41</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LookupAccountRecords</targetReference>
        </connector>
        <fields>
            <name>PersonLokkup</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Person Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>indicator1</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>PersonInformationStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PersonName</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Please enter the following information to search for a existing account in the system&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NoExistingApplicantText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(52, 152, 219);&quot;&gt;If search was attempted and no applicant could be found , a new account will be created with the provided first and last name&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Person_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Person First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Person_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Person Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tax_Registration_Number_TRN_Text</name>
            <dataType>String</dataType>
            <fieldText>Tax Registration Number (TRN)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Invalid TRN number&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Tax_Registration_Number_TRN_Text}, &quot;((?:[0-9]{3}-[0-9]{3}-[0-9]{3})|(?:[0-9]{3}[0-9]{3}[0-9]{3}))&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Account_Record_Assignment_Screen</name>
        <label>Account Record Assignment Screen</label>
        <locationX>1187</locationX>
        <locationY>174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>personselection</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(52, 152, 219); font-size: 14px;&quot;&gt;Person Selection&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>indicator2</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>PersonInformationStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AccountSelectionBtnList</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>AccountNamesCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>AccountIdCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Please select one of the account listed below</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AccountId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>186</locationX>
        <locationY>272</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultmessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>30</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Account_lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>JoinedAccountName</name>
        <text>&lt;p&gt;{!AccountRecord.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!AccountRecord.LastName}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>id for account created or selected</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountNamesCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Account record to store user info for lookup or create</description>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>For all the account records found</description>
        <name>AccountRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BlankTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>PersonInformationStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Person Information</stringValue>
        </value>
    </variables>
</Flow>
