force-app/main/default/flows/Rubicon_Political_Affiliation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Affiliation_Record</name>
        <label>Assign Affiliation Name</label>
        <locationX>731</locationX>
        <locationY>1517</locationY>
        <assignmentItems>
            <assignToReference>BasicNamesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >PoliticalAffiliationAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BasicIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >PoliticalAffiliationAccount.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >PoliticalAffiliationAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Political_Affiliations_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Basic_Choices</name>
        <label>Assign Basic Choices</label>
        <locationX>980</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>BasicChoices</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BasicChoices</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Columns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FirstName</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Columns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>LastName</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Columns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Mobile_Number__pc</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Political_Affiliation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Id</name>
        <label>Assign Contact Id</label>
        <locationX>1167</locationX>
        <locationY>1613</locationY>
        <assignmentItems>
            <assignToReference>SelectedAffiliationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >PoliticalAffiliationAccount.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >PoliticalAffiliationAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_new_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Relationship_Assignment</name>
        <label>Relationship Assignment</label>
        <locationX>1172</locationX>
        <locationY>2097</locationY>
        <assignmentItems>
            <assignToReference
      >relationshiptoApplicant.crmmObjectSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Political_Relationship.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Create_Political_Contact_Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Person_Contact</name>
        <label>Set Person Contact</label>
        <locationX>936</locationX>
        <locationY>2687</locationY>
        <assignmentItems>
            <assignToReference>SelectedAffiliationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Looper_Politics.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Create_Political_Contact_Relationship</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Affiliations_Exists</name>
        <label>Affiliations Exists?</label>
        <locationX>689</locationX>
        <locationY>1286</locationY>
        <defaultConnector>
            <targetReference>Create_Affiliation_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >PoliticalAffiliationsCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Political_Affiliations_Loop</targetReference>
            </connector>
            <label>Yes Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_PeronContactId</name>
        <label>Current PeronContactId</label>
        <locationX>505</locationX>
        <locationY>2691</locationY>
        <defaultConnector>
            <targetReference>Looper_Politics</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looper_Politics.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference
          >Existing_Accounts.selectedRecordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Person_Contact</targetReference>
            </connector>
            <label>Current</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Affiliation_Relationship</name>
        <label>Existing Affiliation Relationship?</label>
        <locationX>887</locationX>
        <locationY>2006</locationY>
        <defaultConnectorLabel>No Affiliation</defaultConnectorLabel>
        <rules>
            <name>Existing_Affiliation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >ExistingPoliticalAffiliationContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Existing_Political_Affiliation</targetReference>
            </connector>
            <label>Existing Affiliation?</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Account_Selected</name>
        <label>No Account Selected</label>
        <locationX>223</locationX>
        <locationY>1901</locationY>
        <defaultConnector>
            <targetReference>Political_Affiliation_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Existing_Accounts.selectedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Political_Affiliations_Selection_0</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <decisions>
        <name>Political_Affiliated</name>
        <label>Politically Affiliated ?</label>
        <locationX>980</locationX>
        <locationY>806</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BasicChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>YesPoliticallyAffiliated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Account_Name_and_Mobile</name>
        <label>Same Account Name and Mobile</label>
        <locationX>404</locationX>
        <locationY>1047</locationY>
        <defaultConnector>
            <targetReference
      >Get_Accounts_For_Political_Affliliations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not the same</defaultConnectorLabel>
        <rules>
            <name>Same</name>
            <conditionLogic>(1 AND 2) OR (1 AND 2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecord.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Person_First_Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountRecord.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Person_Last_Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >AccountRecord.Mobile_Number__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mobile_Number.value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SameAccountSearch</targetReference>
            </connector>
            <label>Same</label>
        </rules>
    </decisions>
    <interviewLabel
  >Rubicon Political Affiliation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rubicon Political Affiliation</label>
    <loops>
        <name>Looper_Politics</name>
        <label>Looper Politics</label>
        <locationX>510</locationX>
        <locationY>2390</locationY>
        <collectionReference
    >PoliticalAffiliationsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_PeronContactId</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Political_Affiliations_Loop</name>
        <label>Political Affiliations Loop</label>
        <locationX>491</locationX>
        <locationY>1406</locationY>
        <assignNextValueToReference
    >PoliticalAffiliationAccount</assignNextValueToReference>
        <collectionReference
    >PoliticalAffiliationsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Affiliation_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Political_Affiliations_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Affiliation_Account</name>
        <label>Create Affiliation Account</label>
        <locationX>887</locationX>
        <locationY>1408</locationY>
        <assignRecordIdToReference>CreatedAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Created_Account_ContactId</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Person_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Person_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Number__pc</field>
            <value>
                <elementReference>Mobile_Number.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PersonAccountRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Political_Contact_Relationship</name>
        <label>Create Political Contact Relationship</label>
        <locationX>935</locationX>
        <locationY>2283</locationY>
        <assignRecordIdToReference
    >ContactToContactId</assignRecordIdToReference>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FinServ__Contact__c</field>
            <value>
                <elementReference
        >AccountRecord.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__RelatedContact__c</field>
            <value>
                <elementReference>SelectedAffiliationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__Role__c</field>
            <value>
                <elementReference>ReciprocalRoleRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Political_Affiliation_Relationship_List__c</field>
            <value>
                <elementReference
        >relationshiptoApplicant.crmmObjectSelected</elementReference>
            </value>
        </inputAssignments>
        <object>FinServ__ContactContactRelation__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>980</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reciprocal_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>PersonMobilePhone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Accounts_For_Political_Affliliations</name>
        <label>Get Accounts For Political Affliliations</label>
        <locationX>724</locationX>
        <locationY>1081</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Affiliations_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Person_First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Person_Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mobile_Number__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Mobile_Number.value</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>PoliticalAffiliationsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>Mobile_Number__pc</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Account_ContactId</name>
        <label>Get Created Account ContactId</label>
        <locationX>1031</locationX>
        <locationY>1503</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>PoliticalAffiliationAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_Relationship</name>
        <label>Get existing Relationship</label>
        <locationX>864</locationX>
        <locationY>1798</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Affiliation_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >AccountRecord.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__RelatedContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedAffiliationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReciprocalRoleRecord.Id</elementReference>
            </value>
        </filters>
        <object>FinServ__ContactContactRelation__c</object>
        <outputReference>ExistingPoliticalAffiliationContact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PersonAccount_RecordTypeInfo</name>
        <label>Get PersonAccount RecordTypeInfo</label>
        <locationX>980</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Basic_Choices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonType</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>PersonAccountRecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Reciprocal_Role</name>
        <label>Get Reciprocal Role</label>
        <locationX>980</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PersonAccount_RecordTypeInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__InverseRole__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Political Affiliation Dependent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Political Affiliation</stringValue>
            </value>
        </filters>
        <object>FinServ__ReciprocalRole__c</object>
        <outputReference>ReciprocalRoleRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Political_affiiliation_Details</name>
        <label>Update Political affiiliation Details</label>
        <locationX>1171</locationX>
        <locationY>1911</locationY>
        <connector>
            <targetReference>Relationship_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City_Town__pc</field>
            <value>
                <elementReference>CityTown_ec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Country.crmmObjectSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Residential_Area_District__pc</field>
            <value>
                <elementReference>ResidentialArea_ec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>Middle_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Number__pc</field>
            <value>
                <elementReference>Mobile_Number.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email_ec.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Office_Zip_Code__pc</field>
            <value>
                <elementReference>PostOffice_ec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_Parish_State__pc</field>
            <value>
                <elementReference>Province_Parish_State_ec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Residential_Area_District__pc</field>
            <value>
                <elementReference>ResidentialArea_ec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_1__pc</field>
            <value>
                <elementReference>Street1_ec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_2__pc</field>
            <value>
                <elementReference>Street2_ec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_3__pc</field>
            <value>
                <elementReference>Street3_ec</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Existing_Political_Affiliation</name>
        <label>Existing Political Affiliation</label>
        <locationX>755</locationX>
        <locationY>2126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>indicator5</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference
          >PoliticalAffiliationsStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text4</name>
            <fieldText
      >&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(52, 152, 219); font-size: 14px;&quot;&gt;Person Political Affiliations&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PoliticalAffiliationAlreadyExists</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(244, 125, 104);&quot;&gt;﻿Sorry, you are already politically affiliated with this person.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>1247</locationX>
        <locationY>2288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultmessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>For_new_accounts</name>
        <label>For new accounts</label>
        <locationX>1170</locationX>
        <locationY>1757</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference
      >Update_Political_affiiliation_Details</targetReference>
        </connector>
        <fields>
            <name>political_affiliation_indicator</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference
          >PoliticalAffiliationsStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PoliiticalAffiliation</name>
            <fieldText
      >&lt;p&gt;&lt;span style=&quot;color: rgb(52, 152, 219); background-color: rgb(255, 255, 255);&quot;&gt;Please provide the details of Political Affiliation who does not reside with you&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>For_new_accounts_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>For_new_accounts_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>firstName_Text</name>
                    <fieldText
          >&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(244, 6, 6);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(95, 93, 93);&quot;&gt; First Name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Person_First_Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Middle_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Middle Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Street1_ec</name>
                    <dataType>String</dataType>
                    <fieldText>Street 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Street2_ec</name>
                    <dataType>String</dataType>
                    <fieldText>Street 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Street3_ec</name>
                    <dataType>String</dataType>
                    <fieldText>Street 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>For_new_accounts_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lastName_Text</name>
                    <fieldText
          >&lt;p&gt;&lt;span style=&quot;color: rgb(244, 6, 6); font-size: 12px;&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;color: rgb(95, 93, 93); font-size: 12px;&quot;&gt; Last Name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Person_Last_Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ResidentialArea_ec</name>
                    <dataType>String</dataType>
                    <fieldText>Residential Area/District</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PostOffice_ec</name>
                    <dataType>String</dataType>
                    <fieldText>Post Office/Zip Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Province_Parish_State_ec</name>
                    <dataType>String</dataType>
                    <fieldText>Province/Parish/State</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>For_new_accounts_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>For_new_accounts_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CityTown_ec</name>
                    <dataType>String</dataType>
                    <fieldText>City/Town</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Country</name>
                    <extensionName>c:JNPicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>crmmLabel</name>
                        <value>
                            <stringValue>Country</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectname</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectField</name>
                        <value>
                            <stringValue>Country__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeName</name>
                        <value>
                            <stringValue>PersonAccount</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Email_ec</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>For_new_accounts_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Political_Relationship</name>
                    <extensionName>c:JNPicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>crmmLabel</name>
                        <value>
                            <stringValue>Relationship to Applicant</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectname</name>
                        <value>
                            <stringValue
              >FinServ__ContactContactRelation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectField</name>
                        <value>
                            <stringValue
              >Political_Affiliation_Relationship_List__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>mobileNumber_Text</name>
                    <fieldText
          >&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(244, 6, 6); font-size: 12px;&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;color: rgb(95, 93, 93); font-size: 12px;&quot;&gt; Mobile Number&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Mobile_Number.value}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Records</name>
        <label>No Records</label>
        <locationX>895</locationX>
        <locationY>1279</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>indicato5_2</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference
          >PoliticalAffiliationsStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NoAccounts2</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(240, 58, 58); font-size: 14px;&quot;&gt;Sorry, no existing records were found. Try searching with different values.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Political_Affiliation</name>
        <label>Political Affiliation</label>
        <locationX>980</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Political_Affiliated</targetReference>
        </connector>
        <fields>
            <name>Indicator1</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference
          >PoliticalAffiliationsStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text1</name>
            <fieldText
      >&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(52, 152, 219); background-color: rgb(255, 255, 255);&quot;&gt;Person Political Affiliations&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BasicPoliticalBtn</name>
            <extensionName
      >runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>BasicChoices</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>BasicChoices</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue
          >Do you or any member of your immediate family currently hold or have ever held a prominent public function (whether in Jamaica or any foreign county), such as Head of State, Head of Opposition Political Party, Senior Member of the Judiciary, Head of Military or Police Force, CEO of Statutory Body/ Government Body or Agency or are you a personal/professional associate of any of the foregoing public officials?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>BasicChoice</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Political_Affiliation_Details</name>
        <label>Political Affiliation Details</label>
        <locationX>387</locationX>
        <locationY>2180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Looper_Politics</targetReference>
        </connector>
        <fields>
            <name>indicator5_1</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference
          >PoliticalAffiliationsStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Political_Affiliation_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Political_Affiliation_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>relationshiptoApplicant</name>
                    <extensionName>c:JNPicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>crmmLabel</name>
                        <value>
                            <stringValue>Relationship to Applicant</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectField</name>
                        <value>
                            <stringValue
              >Political_Affiliation_Relationship_List__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectname</name>
                        <value>
                            <stringValue
              >FinServ__ContactContactRelation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Political_Affiliation_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Political_Affiliations_Selection</name>
        <label>Political Affiliations Selection</label>
        <locationX>490</locationX>
        <locationY>1742</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>No_Account_Selected</targetReference>
        </connector>
        <fields>
            <name>indicator4</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference
          >PoliticalAffiliationsStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text3</name>
            <fieldText
      >&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(52, 152, 219); font-size: 14px;&quot;&gt;Person Political Affiliations&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Existing_Accounts</name>
            <extensionName
      >builder_industries_insurance:fscSinglTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>Columns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>AccountIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Political_Affiliations_Selection_0</name>
        <label>Political Affiliations Selection</label>
        <locationX>50</locationX>
        <locationY>2136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>indicator4_0</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference
          >PoliticalAffiliationsStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text3_0</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(237, 28, 28); background-color: rgb(255, 255, 255);&quot;&gt;Please select one&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt; of the accounts listed to continue&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SameAccountSearch</name>
        <label>Same Account Search</label>
        <locationX>139</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>indicator3</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference
          >PoliticalAffiliationsStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SameAccountText</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(240, 52, 52); font-size: 14px;&quot;&gt;The information you entered maps to your account, please try searching again. Thanks.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>YesPoliticallyAffiliated</name>
        <label>YesPoliticallyAffiliated</label>
        <locationX>413</locationX>
        <locationY>924</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Same_Account_Name_and_Mobile</targetReference>
        </connector>
        <fields>
            <name>indicator2</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference
          >PoliticalAffiliationsStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text2</name>
            <fieldText
      >&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(52, 152, 219); font-size: 14px;&quot;&gt;Person Political Affiliations&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Person_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage
        >&lt;p&gt;Cannot exceed a length of 40 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression
        >LEN ({!Person_First_Name}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Person_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage
        >&lt;p&gt;Cannot exceed a length of 40 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression
        >LEN ({!Person_Last_Name}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Mobile_Number</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>854</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>JN_Shared_Affiliation_Flow2</name>
        <label>JN Shared Affiliation Flow2</label>
        <locationX>983</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Get_existing_Relationship</targetReference>
        </connector>
        <flowName>JN_Shared_Affiliation_Flow</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>CreatedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AffiliationTypeInput</name>
            <value>
                <stringValue>POLITICAL</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BasicChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>collection of yes and no choices</description>
        <name>BasicChoices</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BasicIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BasicNamesCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Columns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactToContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingPoliticalAffiliationContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__ContactContactRelation__c</objectType>
    </variables>
    <variables>
        <name>ExistingPoliticalContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonAccountRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>PersonMobileNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PoliticalAffiliationAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PoliticalAffiliationsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PoliticalAffiliationsStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Political Affiliations</stringValue>
        </value>
    </variables>
    <variables>
        <name>PoliticalAffliliationDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReciprocalRoleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__ReciprocalRole__c</objectType>
    </variables>
    <variables>
        <name>SelectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAffiliationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
