force-app/main/default/flows/Rubicon_Other_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Fields_Assignment</name>
        <label>Fields Assignment</label>
        <locationX>776</locationX>
        <locationY>688</locationY>
        <assignmentItems>
            <assignToReference
      >AccountRecord.Existing_JN_Customer_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Existing_Customer.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >AccountRecord.JN_Bank_Director_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >JNBank_Director.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >AccountRecord.JN_Bank_Staff_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >JNBank_Staff.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >AccountRecord.Premier_Customer_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Premier_Customer.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >AccountRecord.JN_Group_Employee_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >JNGroup_Employee.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >ApplicantRecord.Date_of_Last_Rejection_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Last_Rejection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >ApplicantRecord.Number_of_Rejected_Applications_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Number_of_previous_rejected_applications_in_the_last_12_months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >ApplicantRecord.Are_you_currently_in_bankruptcy_list__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Currently_Bankrupt.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >ApplicantRecord.Declared_bankrupt_list__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Declared_Bankrupt.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >ApplicantRecord.Public_Sector_or_Civil_Servant_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >public_sector_employee.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>OtherDetailsStage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Details</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_Primary_Applicant</name>
        <label>Check If Primary Applicant</label>
        <locationX>608</locationX>
        <locationY>1062</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Applicant_is_Primary_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >ApplicantRecord.Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference
          >OpportunityRecord.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>Applicant is Primary Applicant</label>
        </rules>
    </decisions>
    <description>The logic to check Primary Applicant is updated</description>
    <interviewLabel
  >Rubicon Other Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rubicon Other Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>777</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Premier_Customer_List__c</queriedFields>
        <queriedFields>JN_Bank_Staff_List__c</queriedFields>
        <queriedFields>JN_Bank_Director_List__c</queriedFields>
        <queriedFields>JN_Group_Employee_List__c</queriedFields>
        <queriedFields>Existing_JN_Customer_List__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant</name>
        <label>Get Applicant</label>
        <locationX>779</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantId</elementReference>
            </value>
        </filters>
        <object>Applicant__c</object>
        <outputReference>ApplicantRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Number_of_Rejected_Applications_Number__c</queriedFields>
        <queriedFields>Are_you_currently_in_bankruptcy_list__c</queriedFields>
        <queriedFields>Declared_bankrupt_list__c</queriedFields>
        <queriedFields>Date_of_Last_Rejection_date__c</queriedFields>
        <queriedFields>Public_Sector_or_Civil_Servant_List__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>780</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Other_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpportunityRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update Application_Flow_flag__c</description>
        <name>Update</name>
        <label>Update Application Flow Flag</label>
        <locationX>804</locationX>
        <locationY>1014</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Flow_flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>560</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Update_Applicant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Faults</targetReference>
        </faultConnector>
        <inputReference>AccountRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Applicant</name>
        <label>Update Applicant</label>
        <locationX>589</locationX>
        <locationY>907</locationY>
        <connector>
            <targetReference>Check_If_Primary_Applicant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Faults</targetReference>
        </faultConnector>
        <inputReference>ApplicantRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Faults</name>
        <label>Error Messages</label>
        <locationX>1040</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>indicator2</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>OtherDetailsStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text2</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Details</name>
        <label>Other Details</label>
        <locationX>777</locationX>
        <locationY>562</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fields_Assignment</targetReference>
        </connector>
        <fields>
            <name>indicator1</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>OtherDetailsStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text1</name>
            <fieldText
      >&lt;p&gt;&lt;span style=&quot;color: rgb(52, 152, 219);&quot;&gt;Other Details Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Other_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Existing_Customer</name>
                    <extensionName>c:JNPicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>crmmLabel</name>
                        <value>
                            <stringValue>Existing JN Customer?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectname</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectField</name>
                        <value>
                            <stringValue
              >Existing_JN_Customer_List__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectSelected</name>
                        <value>
                            <elementReference
              >AccountRecord.Existing_JN_Customer_List__c</elementReference>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>JNBank_Staff</name>
                    <extensionName>c:JNPicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>crmmLabel</name>
                        <value>
                            <stringValue>JN Bank Staff?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectname</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectSelected</name>
                        <value>
                            <elementReference
              >AccountRecord.JN_Bank_Staff_List__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectField</name>
                        <value>
                            <stringValue>JN_Bank_Staff_List__c</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Premier_Customer</name>
                    <extensionName>c:JNPicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>crmmLabel</name>
                        <value>
                            <stringValue>Premier Customer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectname</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectField</name>
                        <value>
                            <stringValue>Premier_Customer_List__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectSelected</name>
                        <value>
                            <elementReference
              >AccountRecord.Premier_Customer_List__c</elementReference>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Date_of_Last_Rejection</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference
            >ApplicantRecord.Date_of_Last_Rejection_date__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of Last Rejection</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name
          >Number_of_previous_rejected_applications_in_the_last_12_months</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference
            >ApplicantRecord.Number_of_Rejected_Applications_Number__c</elementReference>
                    </defaultValue>
                    <fieldText
          >Number of previous rejected applications in the last 12 months</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage
            >&lt;p&gt;Enter a value &amp;gt;=0&lt;/p&gt;</errorMessage>
                        <formulaExpression
            >{!Number_of_previous_rejected_applications_in_the_last_12_months} &gt;=0</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Other_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>JNGroup_Employee</name>
                    <extensionName>c:JNPicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>crmmLabel</name>
                        <value>
                            <stringValue>JN Group Employee?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectField</name>
                        <value>
                            <stringValue>JN_Group_Employee_List__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectSelected</name>
                        <value>
                            <elementReference
              >AccountRecord.JN_Group_Employee_List__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectname</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>JNBank_Director</name>
                    <extensionName>c:JNPicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>crmmLabel</name>
                        <value>
                            <stringValue>JN Bank Director?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectname</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectField</name>
                        <value>
                            <stringValue>JN_Bank_Director_List__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectSelected</name>
                        <value>
                            <elementReference
              >AccountRecord.JN_Bank_Director_List__c</elementReference>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference
              >JNBank_Staff.crmmObjectSelected</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Currently_Bankrupt</name>
                    <extensionName>c:JNPicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>crmmLabel</name>
                        <value>
                            <stringValue
              >Are you currently in bankruptcy?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectname</name>
                        <value>
                            <stringValue>Applicant__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectSelected</name>
                        <value>
                            <elementReference
              >ApplicantRecord.Are_you_currently_in_bankruptcy_list__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectField</name>
                        <value>
                            <stringValue
              >Are_you_currently_in_bankruptcy_list__c</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Declared_Bankrupt</name>
                    <extensionName>c:JNPicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>crmmLabel</name>
                        <value>
                            <stringValue
              >Have you ever been declared bankrupt?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectname</name>
                        <value>
                            <stringValue>Applicant__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectSelected</name>
                        <value>
                            <elementReference
              >ApplicantRecord.Declared_bankrupt_list__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectField</name>
                        <value>
                            <stringValue>Declared_bankrupt_list__c</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference
              >Currently_Bankrupt.crmmObjectSelected</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>public_sector_employee</name>
                    <extensionName>c:JNPicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>crmmObjectname</name>
                        <value>
                            <stringValue>Applicant__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectSelected</name>
                        <value>
                            <elementReference
              >ApplicantRecord.Public_Sector_or_Civil_Servant_List__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmLabel</name>
                        <value>
                            <stringValue
              >Are you a public sector employee or civil servant?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectField</name>
                        <value>
                            <stringValue
              >Public_Sector_or_Civil_Servant_List__c</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ApplicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Applicant__c</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
