force-app/main/default/flows/Rubicon_Emergency_Contact_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_ContactToContact_Id</name>
        <label>Assign ContactToContact Id</label>
        <locationX>528</locationX>
        <locationY>1426</locationY>
        <assignmentItems>
            <assignToReference>EmergencyContactIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >ContactToContactRecord.FinServ__RelatedContact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Contact_Iteration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Relationship_Applicant</name>
        <label>Assign Relationship Applicant</label>
        <locationX>2082</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SelectedApplicantRelationship</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >RelationshiptoApplicant_old.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Columns_Assignment</name>
        <label>Columns Assignment</label>
        <locationX>598</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>TableColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FirstName</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>LastName</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Mobile_Number__pc</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PersonAccount_RecordType_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Existing_Accounts_Assignment</name>
        <label>Existing Accounts Assignment</label>
        <locationX>1196</locationX>
        <locationY>868</locationY>
        <assignmentItems>
            <assignToReference>EmergencyContactAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Existing_Accounts_Looper.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Accounts_Looper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Relationship_Assignment</name>
        <label>Relationship Assignment</label>
        <locationX>2268</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>SelectedApplicantRelationship</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >EmergencyContact_Relationship.crmmObjectSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Created_PersonContactid</name>
        <label>Set Created PersonContactid</label>
        <locationX>1349</locationX>
        <locationY>86</locationY>
        <assignmentItems>
            <assignToReference>SelectedPersonAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >CreatedAccount.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatedAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_new_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Person_Contact_Id_1</name>
        <label>Set Person Contact Id 1</label>
        <locationX>1482</locationX>
        <locationY>884</locationY>
        <assignmentItems>
            <assignToReference>SelectedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Existing_Contacts.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Person_ContactId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Person_Contact_Id_2</name>
        <label>Set Person Contact Id 2</label>
        <locationX>1412</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>SelectedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >ExistingAccounts.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Person_ContactId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_Account</name>
        <label>Set Selected Account</label>
        <locationX>1689</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>SelectedPersonAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Person_ContactId.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Existing_Accounts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>no</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Accounts_Found</name>
        <label>Accounts Found?</label>
        <locationX>719</locationX>
        <locationY>1048</locationY>
        <defaultConnector>
            <targetReference>Create_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Accounts_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >EmergencyContactsCreationCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Accounts_Looper</targetReference>
            </connector>
            <label>Yes Accounts Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if any emergency contacts were found</description>
        <name>Check_Emergency_Contacts_Existence</name>
        <label>Check Emergency Contacts Existence</label>
        <locationX>1339</locationX>
        <locationY>1846</locationY>
        <defaultConnector>
            <targetReference>Emergency_Contact_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contacts Not Found</defaultConnectorLabel>
        <rules>
            <name>Contacts_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >EmergencyContactsCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Contact_Iteration</targetReference>
            </connector>
            <label>Contacts Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Emergency_Contact_Non</name>
        <label>Emergency Contact Non</label>
        <locationX>1150</locationX>
        <locationY>594</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_One_was_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >ExistingAccounts.selectedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Person_Contact_Id_2</targetReference>
            </connector>
            <label>Yes One was selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_selected_account</name>
        <label>Is selected account?</label>
        <locationX>1644</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Get_Person_ContactId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_is</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Person_ContactId.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference
          >ExistingAccounts.selectedRecordId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Person_ContactId.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference
          >Existing_Contacts.selectedRecordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Selected_Account</targetReference>
            </connector>
            <label>It is</label>
        </rules>
    </decisions>
    <formulas>
        <name>blankSpace</name>
        <dataType>String</dataType>
        <expression>&quot;   &quot;</expression>
    </formulas>
    <formulas>
        <name>ContactsNeeded</name>
        <dataType>Number</dataType>
        <expression>FLOOR (2 - {!EmergencyContactCount})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>EmergencyContactCountText</name>
        <dataType>String</dataType>
        <expression>TEXT({!EmergencyContactCount})</expression>
    </formulas>
    <interviewLabel
  >Rubicon Emergency Contact Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rubicon Emergency Contact Flow</label>
    <loops>
        <name>Contact_Contact_Iteration</name>
        <label>Contact-Contact Iteration</label>
        <locationX>523</locationX>
        <locationY>1700</locationY>
        <assignNextValueToReference
    >ContactToContactRecord</assignNextValueToReference>
        <collectionReference>EmergencyContactsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ContactToContact_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Emergency_Contact_List_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Existing_Accounts_Looper</name>
        <label>Existing Accounts Looper</label>
        <locationX>983</locationX>
        <locationY>1048</locationY>
        <collectionReference
    >EmergencyContactsCreationCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Existing_Accounts_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Matched_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Person_ContactId</name>
        <label>Get Person ContactId</label>
        <locationX>1373</locationX>
        <locationY>341</locationY>
        <collectionReference
    >EmergencyContactsCreationCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_selected_account</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>479</locationX>
        <locationY>1001</locationY>
        <connector>
            <targetReference>Get_Created_Person_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>No_Existing_Account_Records</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Person_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Person_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Number__pc</field>
            <value>
                <elementReference>Mobile_Number_New.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PersonAccountRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Relationship</name>
        <label>Create Relationship</label>
        <locationX>2048</locationX>
        <locationY>593</locationY>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FinServ__Contact__c</field>
            <value>
                <elementReference
        >AccountRecord.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__RelatedContact__c</field>
            <value>
                <elementReference>SelectedPersonAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__Role__c</field>
            <value>
                <elementReference>ReciprocalRoleRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_to_Applicant_List__c</field>
            <value>
                <elementReference
        >SelectedApplicantRelationship</elementReference>
            </value>
        </inputAssignments>
        <object>FinServ__ContactContactRelation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get  Account Record</label>
        <locationX>440</locationX>
        <locationY>2170</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Columns_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>Emergency_Contact_First_Name__pc</queriedFields>
        <queriedFields>Emergency_Contact_Last_Name__pc</queriedFields>
        <queriedFields>Street_1__pc</queriedFields>
        <queriedFields>Street_2__pc</queriedFields>
        <queriedFields>Street_3__pc</queriedFields>
        <queriedFields>City_Town__pc</queriedFields>
        <queriedFields>Residential_Area_District__pc</queriedFields>
        <queriedFields>Post_Office_Zip_Code__pc</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Mobile_Number__pc</queriedFields>
        <queriedFields>Home_Number__c</queriedFields>
        <queriedFields>Business_Number__pc</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>Emergency_Contact_Relationship__pc</queriedFields>
        <queriedFields>Province_Parish_State__pc</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Person_Id</name>
        <label>Get Created Person Id</label>
        <locationX>591</locationX>
        <locationY>515</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Created_PersonContactid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>CreatedAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Emergency_Contact</name>
        <label>Get Emergency Contact Relationships</label>
        <locationX>993</locationX>
        <locationY>2047</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Check_Emergency_Contacts_Existence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >AccountRecord.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReciprocalRoleRecord.Id</elementReference>
            </value>
        </filters>
        <object>FinServ__ContactContactRelation__c</object>
        <outputReference>EmergencyContactsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FinServ__Role__c</queriedFields>
        <queriedFields>FinServ__RelatedContact__c</queriedFields>
        <queriedFields>FinServ__Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Accounts</name>
        <label>Get Matching Accounts</label>
        <locationX>704</locationX>
        <locationY>1198</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accounts_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Person_First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Person_Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mobile_Number__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Mobile_Number_New.value</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>EmergencyContactsCreationCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Mobile_Number__pc</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>Street_1__pc</queriedFields>
        <queriedFields>Street_2__pc</queriedFields>
        <queriedFields>Street_3__pc</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PersonAccount_RecordType_Id</name>
        <label>Get PersonAccount RecordType Id</label>
        <locationX>693</locationX>
        <locationY>1938</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reciprocal_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonType</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PersonAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Reciprocal_Role</name>
        <label>Get Reciprocal Role</label>
        <locationX>814</locationX>
        <locationY>2172</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Emergency_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__InverseRole__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Emergency Contact Dependent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Emergency Contact</stringValue>
            </value>
        </filters>
        <object>FinServ__ReciprocalRole__c</object>
        <outputReference>ReciprocalRoleRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FinServ__InverseRole__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Emergency_Contact_Details</name>
        <label>Update Emergency Contact Details</label>
        <locationX>2600</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Relationship_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City_Town__pc</field>
            <value>
                <elementReference>CityTown_ec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Country.crmmObjectSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Residential_Area_District__pc</field>
            <value>
                <elementReference>ResidentialArea_ec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>Middle_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Number__pc</field>
            <value>
                <elementReference>Mobile_Number_New.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email_ec.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Office_Zip_Code__pc</field>
            <value>
                <elementReference>PostOffice_ec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_Parish_State__pc</field>
            <value>
                <elementReference>Province_Parish_State_ec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Residential_Area_District__pc</field>
            <value>
                <elementReference>ResidentialArea_ec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_1__pc</field>
            <value>
                <elementReference>Street1_ec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_2__pc</field>
            <value>
                <elementReference>Street2_ec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_3__pc</field>
            <value>
                <elementReference>Street3_ec</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Emergency_Contact_List_Selection</name>
        <label>Emergency Contact List Selection</label>
        <locationX>1657</locationX>
        <locationY>1614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Person_Contact_Id_1</targetReference>
        </connector>
        <fields>
            <name>indicator1</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>EmergencyContactStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text1</name>
            <fieldText
      >&lt;p&gt;&lt;b style=&quot;color: rgb(52, 152, 219); font-size: 14px;&quot;&gt;Emergency Contacts&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Existing_Contacts</name>
            <extensionName
      >builder_industries_insurance:fscSinglTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>ContactColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference
          >EmergencyContactIdCollection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Emergency_Contact_Search</name>
        <label>Emergency Contact Search</label>
        <locationX>1205</locationX>
        <locationY>1268</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Matching_Accounts</targetReference>
        </connector>
        <fields>
            <name>indicator2</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>EmergencyContactStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text2</name>
            <fieldText
      >&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Emergency Contacts&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NoEmergencyContactText</name>
            <fieldText
      >&lt;p&gt;&lt;span style=&quot;color: rgb(52, 152, 219); font-size: 14px;&quot;&gt;Please enter the following information to search for a contact. If no results were found, a new account will be created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Person_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage
        >&lt;p&gt;Cannot exceed a length of 40 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression
        >LEN ({!Person_First_Name}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Person_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage
        >&lt;p&gt;Cannot exceed a length of 40 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression
        >LEN ({!Person_Last_Name}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Mobile_Number_New</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>1882</locationX>
        <locationY>851</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultmessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>For_Existing_Accounts</name>
        <label>For Existing Accounts</label>
        <locationX>2195</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Relationship_Applicant</targetReference>
        </connector>
        <fields>
            <name>indicator5_4</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>EmergencyContactStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text5</name>
            <fieldText
      >&lt;p&gt;&lt;span style=&quot;color: rgb(52, 152, 219);&quot;&gt;Emergency Contacts&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RelationshiptoApplicant_old</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Relationship to Applicant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Relationship_to_Applicant_List__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue
          >FinServ__ContactContactRelation__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>For_new_accounts</name>
        <label>For new accounts</label>
        <locationX>2431</locationX>
        <locationY>285</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Emergency_Contact_Details</targetReference>
        </connector>
        <fields>
            <name>EmergencyContactCreation_indicator</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>EmergencyContactStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EmergencyContact</name>
            <fieldText
      >&lt;p&gt;&lt;span style=&quot;color: rgb(52, 152, 219);&quot;&gt;Please provide the details of an emergency contact who does not reside with you&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>For_new_accounts_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>For_new_accounts_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>firstName_Text</name>
                    <fieldText
          >&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(244, 6, 6);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(95, 93, 93);&quot;&gt; First Name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Person_First_Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Middle_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Middle Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Street1_ec</name>
                    <dataType>String</dataType>
                    <fieldText>Street 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Street2_ec</name>
                    <dataType>String</dataType>
                    <fieldText>Street 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Street3_ec</name>
                    <dataType>String</dataType>
                    <fieldText>Street 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>For_new_accounts_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lastName_Text</name>
                    <fieldText
          >&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(244, 6, 6);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(95, 93, 93);&quot;&gt; Last Name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;  {!Person_Last_Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ResidentialArea_ec</name>
                    <dataType>String</dataType>
                    <fieldText>Residential Area/District</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PostOffice_ec</name>
                    <dataType>String</dataType>
                    <fieldText>Post Office/Zip Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Province_Parish_State_ec</name>
                    <dataType>String</dataType>
                    <fieldText>Province/Parish/State</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>For_new_accounts_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>For_new_accounts_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CityTown_ec</name>
                    <dataType>String</dataType>
                    <fieldText>City/Town</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Country</name>
                    <extensionName>c:JNPicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>crmmObjectname</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectField</name>
                        <value>
                            <stringValue>Country__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmLabel</name>
                        <value>
                            <stringValue>Country</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeName</name>
                        <value>
                            <stringValue>PersonAccount</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Email_ec</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>For_new_accounts_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmergencyContact_Relationship</name>
                    <extensionName>c:JNPicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>crmmObjectname</name>
                        <value>
                            <stringValue
              >FinServ__ContactContactRelation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmObjectField</name>
                        <value>
                            <stringValue
              >Relationship_to_Applicant_List__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>crmmLabel</name>
                        <value>
                            <stringValue>Relationship to Applicant</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>mobile_Text</name>
                    <fieldText
          >&lt;p&gt;&lt;span style=&quot;color: rgb(244, 6, 6); font-size: 12px;&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;color: rgb(95, 93, 93); font-size: 12px;&quot;&gt; Mobile Number&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Mobile_Number_New.value}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Matched_Accounts</name>
        <label>Matched Accounts</label>
        <locationX>859</locationX>
        <locationY>692</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Emergency_Contact_Non</targetReference>
        </connector>
        <fields>
            <name>indicator5_2</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>EmergencyContactStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text3_1</name>
            <fieldText
      >&lt;p&gt;&lt;span style=&quot;color: rgb(52, 152, 219);&quot;&gt;Existing Accounts Matched&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExistingAccounts</name>
            <extensionName
      >builder_industries_insurance:fscSinglTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>TableColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference
          >EmergencyContactAccountIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Existing_Account_Records</name>
        <label>No Existing Account Records</label>
        <locationX>310</locationX>
        <locationY>773</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>indicator5_1</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>EmergencyContactStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ZeroAccountsScreen</name>
            <fieldText
      >&lt;p&gt;&lt;span style=&quot;color: rgb(60, 56, 56);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>2067</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BlankTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactColumns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRoleRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactToContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactToContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__ContactContactRelation__c</objectType>
    </variables>
    <variables>
        <name>CountryDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CurrentEmergencyContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>EmergencyAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>EmergencyContactAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmergencyContactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EmergencyContactIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmergencyContactLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>EmergencyContactRelationship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>stores all the contact to contact records</description>
        <name>EmergencyContactsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__ContactContactRelation__c</objectType>
    </variables>
    <variables>
        <description
    >stores the lookup for emergency contacts when searched with first and last name</description>
        <name>EmergencyContactsCreationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>EmergencyContactsNameCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmergencyContactStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Emergency Contacts</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmptyContactCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmptyContactRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingEmergencyContacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MockedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>MockedEmergencyContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NeededEmergencyContactsToSave</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NumberOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonMobileNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReciprocalRoleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__ReciprocalRole__c</objectType>
    </variables>
    <variables>
        <description
    >id for contact to contact relationship created</description>
        <name>SavedContactToContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedEmergencyAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedEmergencyContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchContactsId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchContactsNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchContactsSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SelectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedApplicantRelationship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedPersonAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectEmergencyContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShouldContinueEmergencyContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TableColumns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
