force-app/main/default/flows/Rubicon_Applicant_Details_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Assigns the choices for account selection</description>
        <name>AccountSelectionChoicesAssignment</name>
        <label>AccountSelectionChoicesAssignment</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>AccuntSelectionChoices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccuntSelectionChoices</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Create New Application</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Does_the_account_listed_below_belongs_to_you</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Application_Count</name>
        <label>Increment Application Count</label>
        <locationX>589</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>ApplicationCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Application_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Applicant_Id</name>
        <label>Set Applicant Id</label>
        <locationX>50</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>CreatedApplicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountApplicationRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rubicon_Other_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description
    >Decides whether the user selected the account or not</description>
        <name>AccountSelectionDecision</name>
        <label>AccountSelectionDecision</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_Empty_Applications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Not Selected</defaultConnectorLabel>
        <rules>
            <name>AccountSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >AccountSelectionButtonPicklist.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountRecord.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_Person_Details</targetReference>
            </connector>
            <label>AccountSelected</label>
        </rules>
    </decisions>
    <decisions>
        <description
    >Checks if the account as an associated application</description>
        <name>Application_Exist</name>
        <label>Application Exist</label>
        <locationX>182</locationX>
        <locationY>3182</locationY>
        <defaultConnector>
            <targetReference>Get_Application_RecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel
    >Application  doesn&apos;t Exists</defaultConnectorLabel>
        <rules>
            <name>Application_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >AccountApplicationRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Applicant_Id</targetReference>
            </connector>
            <label>Application Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Applications_Exists</name>
        <label>Applications Exists</label>
        <locationX>347</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Existing_Application_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No they don&apos;t exist</defaultConnectorLabel>
        <rules>
            <name>Yes_they_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedApplications</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rubicon_Person_Information</targetReference>
            </connector>
            <label>Yes they exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Can_we_add_more_applications</name>
        <label>Can we add more applications</label>
        <locationX>501</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Rubicon_Person_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes we can</defaultConnectorLabel>
        <rules>
            <name>No_we_cant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApplicationCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Cant_add_additional_applications</targetReference>
            </connector>
            <label>No we cant</label>
        </rules>
    </decisions>
    <description>pass record id to Rubicon Other Details sub flow</description>
    <interviewLabel
  >Rubicon Applicant Details Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rubicon Applicant Details Flow</label>
    <loops>
        <name>Existing_Application_Loop</name>
        <label>Existing Application Loop</label>
        <locationX>501</locationX>
        <locationY>998</locationY>
        <assignNextValueToReference
    >CurrentApplicationLoopVariable</assignNextValueToReference>
        <collectionReference>AssignedApplications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Application_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Can_we_add_more_applications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Application</name>
        <label>Create Account Application</label>
        <locationX>314</locationX>
        <locationY>3422</locationY>
        <assignRecordIdToReference
    >CreatedApplicationId</assignRecordIdToReference>
        <connector>
            <targetReference>Rubicon_Other_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Applicant_Flag__c</field>
            <value>
                <elementReference>IsPrimaryApplicant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ApplicationRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Applicant__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Record</name>
        <label>Get Application Record</label>
        <locationX>182</locationX>
        <locationY>2942</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CoApplication_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Applicant__c</object>
        <outputReference>AccountApplicationRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Application_RecordType</name>
        <label>Get Application RecordType</label>
        <locationX>314</locationX>
        <locationY>3302</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Account_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Instant_Designing_Module_IDM</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>ApplicationRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Empty_Applications</name>
        <label>Get Assigned Applications</label>
        <locationX>347</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Applications_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Applicant__c</object>
        <outputReference>AssignedApplications</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAccountRecord</name>
        <label>GetAccountRecord</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountSelectionChoicesAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description
    >extracts the account  id from the opportunity record</description>
        <name>GetOpportunityRecord</name>
        <label>GetOpportunityRecord</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccountRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Cant_add_additional_applications</name>
        <label>Cant add additional applications</label>
        <locationX>369</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>indicator2</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>GettingStartedStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NoExtraApplicationsText</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(231, 76, 60);&quot;&gt;Sorry you cannot add any more applicant this opportunity because every opportunity can have up to three applicants linked.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Does_the_account_listed_below_belongs_to_you</name>
        <label>Does the account listed below belongs to you</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AccountSelectionDecision</targetReference>
        </connector>
        <fields>
            <name>indicator1</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>GettingStartedStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicoon</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>personinfotext</name>
            <fieldText
      >&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Person Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountSelectionButtonPicklist</name>
            <extensionName
      >runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>AccuntSelectionChoices</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Please choose</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue
          >Please create a new application or select one of the existing applicants below:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>AccountRecord.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>AccuntSelectionChoices</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>578</locationX>
        <locationY>3542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultmessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunityRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CoApplication_Details</name>
        <label>CoApplication Details</label>
        <locationX>182</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>Application_Exist</targetReference>
        </connector>
        <flowName>Rubicon_CoApplication_Details</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IsPrimaryApplicant</assignToReference>
            <name>IsPrimaryApplication</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>General_Person_Details</name>
        <label>General Person Details</label>
        <locationX>182</locationX>
        <locationY>2102</locationY>
        <connector>
            <targetReference>Rubicon_Id_Documents</targetReference>
        </connector>
        <flowName>Rubicon_General_Details</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Rubicon_Contact_Details</name>
        <label>Rubicon Contact Details</label>
        <locationX>182</locationX>
        <locationY>2342</locationY>
        <connector>
            <targetReference>Rubicon_Emergency_Contact</targetReference>
        </connector>
        <flowName>Rubicon_Contact_Details</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Rubicon_Emergency_Contact</name>
        <label>Rubicon Emergency Contact</label>
        <locationX>182</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>Rubicon_Employment_Details</targetReference>
        </connector>
        <flowName>Rubicon_Emergency_Contact_Flow</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Rubicon_Employment_Details</name>
        <label>Rubicon Employment Details</label>
        <locationX>182</locationX>
        <locationY>2582</locationY>
        <connector>
            <targetReference>Rubicon_JN_Affiliation</targetReference>
        </connector>
        <flowName>Rubicon_Employment_Details</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Rubicon_Id_Documents</name>
        <label>Rubicon Id Documents</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Rubicon_Contact_Details</targetReference>
        </connector>
        <flowName>Rubicon_Id_Documents</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Rubicon_JN_Affiliation</name>
        <label>Rubicon JN Affiliation</label>
        <locationX>182</locationX>
        <locationY>2702</locationY>
        <connector>
            <targetReference>Rubicon_Political_Affiliation</targetReference>
        </connector>
        <flowName>Rubicon_JN_Affiliation</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Rubicon_Other_Details</name>
        <label>Rubicon Other Details</label>
        <locationX>182</locationX>
        <locationY>3902</locationY>
        <flowName>Rubicon_Other_Details</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ApplicantId</name>
            <value>
                <elementReference>CreatedApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Rubicon Person Information</description>
        <name>Rubicon_Person_Information</name>
        <label>Rubicon Person Information</label>
        <locationX>347</locationX>
        <locationY>1886</locationY>
        <connector>
            <targetReference>General_Person_Details</targetReference>
        </connector>
        <flowName>Rubicon_Person_Information_SubFlow</flowName>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <name>AccountId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Rubicon_Political_Affiliation</name>
        <label>Rubicon Political Affiliation</label>
        <locationX>182</locationX>
        <locationY>2822</locationY>
        <connector>
            <targetReference>Get_Application_Record</targetReference>
        </connector>
        <flowName>Rubicon_Political_Affiliation</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountApplicationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Applicant__c</objectType>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Account linked to the opportunity record.</description>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description
    >Choices available to the user to select a account, can either be the account name or No</description>
        <name>AccuntSelectionChoices</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddMorePeopleToggleChoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantFormStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Applicant Form</stringValue>
        </value>
    </variables>
    <variables>
        <name>ApplicationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ApplicationRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>AssignedApplications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Applicant__c</objectType>
    </variables>
    <variables>
        <name>CreatedApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentApplicationLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Applicant__c</objectType>
    </variables>
    <variables>
        <name>EmergencyContactContinuation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GettingStartedStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Getting Started</stringValue>
        </value>
    </variables>
    <variables>
        <name>IsPrimaryApplicant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Opportunity record id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
