force-app/main/default/flows/Rubicon_Person_Information_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Account_Id_Assignment</name>
        <label>Account Id Assignment</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>AccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looper.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignments</name>
        <label>Assignments</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>AccountTableColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FirstName</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTableColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>LastName</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTableColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>MiddleName</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTableColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Mobile_Number__pc</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTableColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PersonBirthdate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTableColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Jamaican_Tax_Registration_Number__pc</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountIdCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTableColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>AccountNumber</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initial_Assignements</name>
        <label>Initial Assignements</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>AccountRecords</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountIdCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTableColumns</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>LookupAccountRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Id</name>
        <label>Set Account Id</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accounts.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description
    >Checks if any related account information was found</description>
        <name>CheckAccountLookup</name>
        <label>CheckAccountLookup</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Account_lookup_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Not Found</defaultConnectorLabel>
        <rules>
            <name>AccountFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LookupAccountRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignments</targetReference>
            </connector>
            <label>AccountFound</label>
        </rules>
    </decisions>
    <description>Rubicon Person Information flow</description>
    <dynamicChoiceSets>
        <name>AccountChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel
  >Rubicon Person Information SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rubicon Person Information</label>
    <loops>
        <name>Looper</name>
        <label>Looper</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <collectionReference>LookupAccountRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Account_Id_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Accounts_Table</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Lookup account first and last names</description>
        <name>LookupAccountRecords</name>
        <label>LookupAccountRecords</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckAccountLookup</targetReference>
        </connector>
        <filterLogic
    >(1 OR 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Jamaican_Tax_Registration_Number__pc</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Jamaican_Tax_Registration_Number__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Tax_Registration_Number_TRN_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountNumber</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mobile_Number__pc</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mobile_Number__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone_Number.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>AccountNumber</queriedFields>
        <queriedFields>Mobile_Number__pc</queriedFields>
        <queriedFields>Jamaican_Tax_Registration_Number__pc</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>MiddleName</queriedFields>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>looks up whether the user account exists</description>
        <name>Account_lookup</name>
        <label>Account lookup</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Initial_Assignements</targetReference>
        </connector>
        <fields>
            <name>PersonLokkup</name>
            <fieldText
      >&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Person Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>indicator1</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>PersonInformationStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PersonName</name>
            <fieldText
      >&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Please enter the following information to search for a existing account in the system&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_lookup_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_lookup_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Tax_Registration_Number_TRN_Text</name>
                    <dataType>String</dataType>
                    <fieldText>Tax Registration Number (TRN)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage
            >&lt;p&gt;Invalid TRN number&lt;/p&gt;</errorMessage>
                        <formulaExpression
            >REGEX({!Tax_Registration_Number_TRN_Text}, &quot;((?:[0-9]{3}-[0-9]{3}-[0-9]{3})|(?:[0-9]{3}[0-9]{3}[0-9]{3}))&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Account_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Account Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage
            >&lt;p&gt;Max length is 40&lt;/p&gt;</errorMessage>
                        <formulaExpression
            >LEN({!Account_Number}) &gt;0 &amp;&amp;  LEN({!Account_Number}) &lt;=40</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_lookup_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Phone_Number</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>{10,25}$</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>looks up whether the user account exists</description>
        <name>Account_lookup_0</name>
        <label>Account lookup</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PersonLokkup_0</name>
            <fieldText
      >&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Person Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>indicator1_0</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>PersonInformationStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <stringValue>rubicon</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PersonName_0</name>
            <fieldText
      >&lt;p&gt;&lt;span style=&quot;color: rgb(231, 28, 28);&quot;&gt;Customer Not Found. Try adjusting your search parameters.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Accounts_Table</name>
        <label>Found Accounts</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Account_Id</targetReference>
        </connector>
        <fields>
            <name>stage_12</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>PersonInformationStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Accounts</name>
            <extensionName
      >builder_industries_insurance:fscSinglTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>AccountIdCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>AccountTableColumns</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>JoinedAccountName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text
    >&lt;p&gt;{!AccountRecord.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!AccountRecord.LastName}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>id for account created or selected</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountNamesCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description
    >Account record to store user info for lookup or create</description>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>For all the account records found</description>
        <name>AccountRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountTableColumns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BlankTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>PersonInformationStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Person Information</stringValue>
        </value>
    </variables>
</Flow>
