force-app/main/default/flows/Supplementary_Card_Holder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Holder_Name_and_id</name>
        <label>Assign Holder Name and id</label>
        <locationX>904</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>CardHolderNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentCardHolder.Card_Holder_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CardHolderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentCardHolder.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Holder_Names</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_Card_Holder_opportunity</name>
        <label>Add Card Holder</label>
        <locationX>1190</locationX>
        <locationY>746</locationY>
        <defaultConnectorLabel>Nope Dont Add</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Card_Holder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Additional</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Card_Holder_Creation</targetReference>
            </connector>
            <label>Yes Add Card Holder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Cards_Exist</name>
        <label>Credit Cards Exist?</label>
        <locationX>726</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>Credit_Card_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Cards_Exist_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Supplementary_Card_Holders</targetReference>
            </connector>
            <label>Credit Cards Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Card_Holders</name>
        <label>Existing Card Holders?</label>
        <locationX>627</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>No_Supplementary_Card_Holder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Exist</defaultConnectorLabel>
        <rules>
            <name>Yes_there_are</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SupplementaryCardHoldersList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Holder_Names</targetReference>
            </connector>
            <label>Yes there are</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Add_Supplementary_Card_Holder</name>
        <label>Should Add Supplementary Card Holder</label>
        <locationX>647</locationX>
        <locationY>851</locationY>
        <defaultConnectorLabel>Do not add</defaultConnectorLabel>
        <rules>
            <name>Add_Card_Holder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>should_add_card_holder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Card_Holder_Creation</targetReference>
            </connector>
            <label>Add Card Holder</label>
        </rules>
    </decisions>
    <description>Validating the pattern used for the number field</description>
    <interviewLabel>Supplementary Card Holder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Supplementary Card Holder</label>
    <loops>
        <name>Set_Holder_Names</name>
        <label>Set Holder Names</label>
        <locationX>916</locationX>
        <locationY>346</locationY>
        <assignNextValueToReference>CurrentCardHolder</assignNextValueToReference>
        <collectionReference>SupplementaryCardHoldersList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Holder_Name_and_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Supplementary_Card_Holders_Exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Card_Holder_Account</name>
        <label>Create Card Holder Account</label>
        <locationX>521</locationX>
        <locationY>982</locationY>
        <assignRecordIdToReference>CreatedAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Supplementary_Card_Holder</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Number__pc</field>
            <value>
                <elementReference>Business_phone_sup.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City_Town__pc</field>
            <value>
                <elementReference>City_Town_sup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_of_Citizenship__pc</field>
            <value>
                <elementReference>Countryofcitizenship_sup.crmmObjectSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__Gender__pc</field>
            <value>
                <elementReference>Gender_sup.crmmObjectSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__Occupation__pc</field>
            <value>
                <elementReference>Occupation_sup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Person_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Number__c</field>
            <value>
                <elementReference>Home_number_sup.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Identification_Type_Country_of_issue__pc</field>
            <value>
                <elementReference>Countryofissue_sup.crmmObjectSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jamaican_Tax_Registration_Number__c</field>
            <value>
                <elementReference>Person_TRN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Person_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_Status__c</field>
            <value>
                <elementReference>Martialstatus_sup.crmmObjectSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Phone__c</field>
            <value>
                <elementReference>Mobile_phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Number__c</field>
            <value>
                <elementReference>othernumber_sup.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>Date_of_Birth_sup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonTitle</field>
            <value>
                <elementReference>Occupation_sup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email__c</field>
            <value>
                <elementReference>Personal_email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Office_Zip_Code__pc</field>
            <value>
                <elementReference>Post_Office_Zip_Code_sup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_Parish_State__pc</field>
            <value>
                <elementReference>Province_Parish_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PersonAccountRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Residential_Area_District__pc</field>
            <value>
                <elementReference>Residential_Area_District_sup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_1__pc</field>
            <value>
                <elementReference>Street_1_sup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_2__pc</field>
            <value>
                <elementReference>Street_2_sup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_3__pc</field>
            <value>
                <elementReference>Street_3_sup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplementary_Applicant_Relationship__c</field>
            <value>
                <elementReference>RelationshipToApplicant_sup.crmmObjectSelected</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Supplementary_Card_Holder</name>
        <label>Create Supplementary Card Holder</label>
        <locationX>337</locationX>
        <locationY>1170</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>CreatedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Supplementary_Card_Holders__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>266</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Credit_Cards_Exist</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JN Bank Credit Card</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OpportunityProducts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PersonAccount_RecordTypeid</name>
        <label>Get PersonAccount RecordTypeid</label>
        <locationX>266</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filters>
            <field>IsPersonType</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PersonAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Supplementary_Card_Holders</name>
        <label>Get Supplementary Card Holders</label>
        <locationX>464</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Card_Holders</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Supplementary_Card_Holders__c</object>
        <outputReference>SupplementaryCardHoldersList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Card_Holder_Name__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Card_Holder_Creation</name>
        <label>Card Holder Creation</label>
        <locationX>966</locationX>
        <locationY>961</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Card_Holder_Account</targetReference>
        </connector>
        <fields>
            <name>indicator2</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>CreationStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <elementReference>CardHolderStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(52, 152, 219); font-size: 14px;&quot;&gt;Supplementary Card Holder Creation&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Person_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot exceed a length of 40 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Person_First_Name}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Person_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot exceed a length of 40 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Person_Last_Name}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Person_TRN</name>
            <dataType>String</dataType>
            <fieldText>Taxpayer Registration Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter a valid TRN&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Person_TRN}, &quot;((?:[0-9]{3}-[0-9]{3}-[0-9]{3})|(?:[0-9]{3}[0-9]{3}[0-9]{3}))&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Gender_sup</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Person&#39;s Gender</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>FinServ__Gender__pc</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Martialstatus_sup</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Marital Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Marital_Status__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Date_of_Birth_sup</name>
            <dataType>Date</dataType>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Must be 18 years or older.&lt;/p&gt;</errorMessage>
                <formulaExpression>Year( TODAY() ) - Year({!Date_of_Birth_sup}) &gt;=18</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Countryofcitizenship_sup</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Country of Citizenship</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Country_of_Citizenship__pc</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Occupation_sup</name>
            <dataType>String</dataType>
            <fieldText>Occupation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 80 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Occupation_sup}) &lt;= 80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>RelationshipToApplicant_sup</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Relationship to Applicant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Supplementary_Applicant_Relationship__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Street_1_sup</name>
            <dataType>String</dataType>
            <fieldText>Street 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Street_1_sup}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Street_2_sup</name>
            <dataType>String</dataType>
            <fieldText>Street 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Street_2_sup}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Street_3_sup</name>
            <dataType>String</dataType>
            <fieldText>Street 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Street_3_sup}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>City_Town_sup</name>
            <dataType>String</dataType>
            <fieldText>City/Town</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!City_Town_sup}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Residential_Area_District_sup</name>
            <dataType>String</dataType>
            <fieldText>Residential Area/District</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Residential_Area_District_sup}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Post_Office_Zip_Code_sup</name>
            <dataType>String</dataType>
            <fieldText>Post Office/Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Post_Office_Zip_Code_sup}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Province_Parish_State</name>
            <dataType>String</dataType>
            <fieldText>Province/Parish/State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot exceed a length of 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Province_Parish_State}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Countryofissue_sup</name>
            <extensionName>c:JNPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>crmmLabel</name>
                <value>
                    <stringValue>Country of Issue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectname</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>crmmObjectField</name>
                <value>
                    <stringValue>Identification_Type_Country_of_issue__pc</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Mobile_phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Home_number_sup</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Home Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Business_phone_sup</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Business Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>othernumber_sup</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\d{10,25}$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Personal_email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Personal Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Credit_Card_Product</name>
        <label>Credit Card Product</label>
        <locationX>993</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>indicator6</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>SelectionStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <elementReference>CardHolderStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>text7</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Supplementary Card Holder&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text6</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(52, 152, 219); background-color: rgb(255, 255, 255);&quot;&gt;Sorry, you currently do not have  any credit cards linked to your account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Supplementary_Card_Holder</name>
        <label>No Supplementary Card Holder</label>
        <locationX>639</locationX>
        <locationY>628</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Should_Add_Supplementary_Card_Holder</targetReference>
        </connector>
        <fields>
            <name>indicator1</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <elementReference>CardHolderStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>SelectionStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(52, 152, 219);&quot;&gt;Supplementary Card Holder&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(52, 152, 219);&quot;&gt;Sorry. there are currently no supplementary card holders associated with your account, Do you want to add one to your account?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>should_add_card_holder</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Add Supplementary Card Holder?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Supplementary_Card_Holders_Exist</name>
        <label>Supplementary Card Holders Exist</label>
        <locationX>1148</locationX>
        <locationY>440</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Card_Holder_opportunity</targetReference>
        </connector>
        <fields>
            <name>indicator3</name>
            <extensionName>c:JNStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>SelectionStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageType</name>
                <value>
                    <elementReference>CardHolderStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(52, 152, 219);&quot;&gt;Supplementary Card Holder&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>existingcardholdersbtn</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>CardHolderNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>CardHolderIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Existing Supplementary Card Holder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Add_Additional</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Add Additional?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>320</locationY>
        <connector>
            <targetReference>Get_PersonAccount_RecordTypeid</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CardHolderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CardHolderNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CardHolderStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>supplementary_card_holder</stringValue>
        </value>
    </variables>
    <variables>
        <name>CreatedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreationStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Card Holder Creation</stringValue>
        </value>
    </variables>
    <variables>
        <name>CurrentCardHolder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Supplementary_Card_Holders__c</objectType>
    </variables>
    <variables>
        <name>OpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectionStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Card Holder Selection</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupplementaryCardHoldersList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Supplementary_Card_Holders__c</objectType>
    </variables>
</Flow>
