force-app/main/default/flows/Update_Lead_Status_Two.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Record_Assignment</name>
        <label>Record Assignment</label>
        <locationX>245</locationX>
        <locationY>141</locationY>
        <assignmentItems>
            <assignToReference>Lead_Records.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Records.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Working_Qualified</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Working_Qualified</name>
        <label>Working Qualified</label>
        <locationX>387</locationX>
        <locationY>143</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordtypeid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Savings_Chequing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactMade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Contact Made</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Status_to_Working</targetReference>
            </connector>
            <label>Working</label>
        </rules>
        <rules>
            <name>Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Lead_Records.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Savings_Chequing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Lead_Records.Contact_Made__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Made</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Lead_Records.Lead_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Qualify Customer(s)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Update_Lead_Status_to_Qualified</targetReference>
            </connector>
            <label>Qualified</label>
        </rules>
    </decisions>
    <description>Updates the Lead Status field on Lead.</description>
    <interviewLabel>Update Lead Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Lead Status Two</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lead_Records</name>
        <label>Lead Records</label>
        <locationX>99</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Assignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadStatus</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Contact_Made__c</queriedFields>
        <queriedFields>Lead_Path__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Status_to_Qualified</name>
        <label>Update Lead Status to Qualified</label>
        <locationX>669</locationX>
        <locationY>239</locationY>
        <filters>
            <field>Contact_Made__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact Made</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead_Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Qualify Customer(s)</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Savings_Chequing</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Status_to_Working</name>
        <label>Update Lead Status to Working</label>
        <locationX>669</locationX>
        <locationY>44</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead_Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Qualify Customer(s)</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Savings_Chequing</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>3</locationY>
        <connector>
            <targetReference>Lead_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ContactMade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordtypeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
