force-app/main/default/flows/Update_Referred_Application_to_Deferred_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Queue_Defer</name>
        <label>Set Queue Defer</label>
        <locationX>666</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>QueueDeferredRecTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queue_Looper.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queue_Looper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue_Refer</name>
        <label>Set Queue. Refer</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>QueueReferredRecTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queue_Looper.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queue_Looper</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Condition</name>
        <label>Condition</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Deferred_Application_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deferred_Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_Record</targetReference>
            </connector>
            <label>Check Deferred Application RT</label>
        </rules>
        <rules>
            <name>Check_Referred_Application_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referred_Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_referred</targetReference>
            </connector>
            <label>Check Referred Application RT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_Record_Type</name>
        <label>Queue Record Type</label>
        <locationX>666</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Queue_Looper</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Referred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Queue_Looper.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referred_Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Queue_Refer</targetReference>
            </connector>
            <label>Is Referred</label>
        </rules>
        <rules>
            <name>Is_deferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Queue_Looper.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deferred_Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Queue_Defer</targetReference>
            </connector>
            <label>Is deferred</label>
        </rules>
    </decisions>
    <interviewLabel
  >Update Referred Application to Deferred Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opportunity Application Record Types</label>
    <loops>
        <name>Queue_Looper</name>
        <label>Queue Looper</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <collectionReference>Queue_Record_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Queue_Record_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Application_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Application_Record_Type</name>
        <label>Get Application Record Type</label>
        <locationX>314</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Queue_Record_Types</name>
        <label>Queue Record Types</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Looper</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_Record</name>
        <label>Update Application Record</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicaitonId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference
        >Get_Application_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_referred</name>
        <label>Update to referred</label>
        <locationX>314</locationX>
        <locationY>1070</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Adjudication_Path_picklist__c</field>
            <value>
                <stringValue>ADJ_Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueReferredRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference
        >Get_Application_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Queue_Record_Types</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicaitonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QueueDeferredRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueReferredRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
