force-app/main/default/flows/Update_application_Status_on_agent_work_assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Case_Decision</name>
        <label>Case Decision</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cases_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_case_records_0</targetReference>
            </connector>
            <label>Cases Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Status_is_ADJ_Open</name>
        <label>If Status is ADJ Open</label>
        <locationX>666</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >getApplication.Adjudication_Path_picklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADJ_Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_application</targetReference>
            </connector>
            <label>ADJ Open</label>
        </rules>
        <rules>
            <name>Deferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >getApplication.Adjudication_Path_picklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Records</targetReference>
            </connector>
            <label>Deferred</label>
        </rules>
    </decisions>
    <interviewLabel
  >Update application Status on agent work assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update application Status on agent work assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getApplication.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getApplication</name>
        <label>getApplication</label>
        <locationX>666</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Status_is_ADJ_Open</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_application</name>
        <label>update application</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Adjudication_Path_picklist__c</field>
            <value>
                <stringValue>ADJ_Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_case_records_0</name>
        <label>Update the case records</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getApplication.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getApplication.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getApplication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>applicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
